<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 사용자 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/wine-list.css}">
</th:block>

<!--/* 사용자 스크립트 추가 */-->
<th:block layout:fragment="script">
  <script th:inline="javascript">
    function deleteCellarWine(obj){
      console.log("obj => " + obj);
      const cellarWineId = obj.dataset.id;
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");
      const url = "/cellarWine/" + cellarWineId;

      $.ajax({
        url: url,
        type: "DELETE",
        beforeSend: function(xhr){
          xhr.setRequestHeader(header, token);
        },
        dataType: "json",
        cache: false,
        success: function(result, status){
          alert("찜한 상품을 삭제했습니다.");
          location.href = "/cellars";
        },
        error: function(xhr, status, error){
          if(xhr.status == '401'){
            alert("로그인 후 사용해주세요.");
            location.href = "/members/login";
          } else {
            alert(xhr.responseJSON.messages);
          }
        }
      })
    }

  </script>
</th:block>

<div layout:fragment="content" >


    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
      <div class="container">
        <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Product</a></li>
              <li class="blog"><a href="#">Wish List</a></li>
            </ul>
          </div>
          <div class="page-title-heading">
            <h2 class="title"><a href="#">Wish List</a></h2>
          </div>
        </div>
      </div>
    </div> <!-- /.page-title -->


  <div class="main-wish-list">
    <section class="flat-cart">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="woocommerce-tabs wc-tabs-wrapper">
              <div id="tab-description" class="tab-content">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th class="image">Image</th>
                    <th class="product">Wine Name</th>
                    <th class="type">Type</th>
                    <th class="delete">×</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="cellarWine : ${cellarWines}">
                    <td class="text-center image"><img th:src="${cellarWine.wineImg}" th:alt="${cellarWine.cellarWineId}"></td>
                    <td class="list text" th:text="${cellarWine.wineName}"></td>
                    <td class="text-center list price" th:text="${cellarWine.wineType}"></td>
                    <td class="text-center delete">
                      <button class="close" type="button" aria-label="Close">
                                        <span aria-hidden="true" th:data-id="${cellarWine.cellarWineId}"
                                              onclick="deleteCellarWine(this)">x</span>
                      </button>
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div> <!-- /main-order-tracking -->



</div>
</html>
