<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 추가된 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/wine-detail.css}">
  <style>
    .profile_img {
      width: 50px;
      height: 50px;
    }
  </style>
</th:block>

<!-- 추가된 js 이렇게 경로주는게 맞나싶어요... -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:href="@{/wine-detail.js}"></script>
</th:block>


<div layout:fragment="content">
  <div class="page-title parallax parallax1">
    <div class="container">
      <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
        <div class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li class="blog"><a href="#">Product Details</a></li>
          </ul>
        </div>
        <div class="page-title-heading">
          <h2 class="title"><a href="#">PRODUCT DETAILS</a></h2>
        </div>
      </div>
    </div>
  </div> <!-- /.page-title -->
  <div class="main-shop-detail-review" >
    <section class="main-shop-detail">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="image-wrap">
              <div class="image-rallary mg-bottom-45">
                <div class="themesflat-gallery  style-2 has-arrows arrow-center arrow-circle offset-v-82 has-thumb w170  clearfix" data-gap="0" data-column="1" data-column2="1" data-column3="1" data-auto="false">
                  <div class="owl-carousel owl-theme">
                    <div class="gallery-item" >
                      <div class="inner">
                        <div class="thumb">
                          <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                               th:class="wine_image"
                               onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className=''">
                          <div class="search-images">
                            <a data-type="iframe" href="/main/image/homepage127.png" class="zoom-pic" >
                              <i class="icon_zoom-in_alt "  aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gallery-item" >
                      <div class="inner">
                        <div class="thumb">
                          <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                               th:class="wine_image"
                               onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className=''">
                          <div class="search-images">
                            <a data-type="iframe" th:href="@{image/homepage127.png}" class="zoom-pic" >
                              <i class="icon_zoom-in_alt "  aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gallery-item active" >
                      <div class="inner">
                        <div class="thumb">
                          <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                               th:class="wine_image"
                               onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className=''">
                          <div class="search-images">
                            <a data-type="iframe" href="/main/image/homepage127.png" class="zoom-pic" >
                              <i class="icon_zoom-in_alt "  aria-hidden="true"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div><!-- /.themesflat-cousel-box -->
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="content-wrap">
              <h2 class="heading" th:text="${wine.wineName}"></h2>
              <div class="post-rating" th:text="${wineDevelopCount.ExpertRating}">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <h2 class="dolar" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : wine.price + ' ₩'}">$19.99</h2>

              <div class="info-content">
                <ul>
                  <li>
                    <span class="note">
                      Type:
                      <span th:text="${wine.wineType}"></span>
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      Country:
                      <span th:text="${wine.country}"></span>
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      Region:
                      <span th:text="${wine.region}"></span>
                    </span>
                  </li>
                </ul>
              </div>

              <div class="content-cart clearfix">
                <form class="cart clearfix" method="post">
                  <div class="heart mg-item-ct">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!--   리뷰 공간     -->
          <div class="col-lg-11">
            <div class="woocommerce-tabs wc-tabs-wrapper">
              <ul class="tabs">
                <li><a class="tab active" data-id ='#tab-description' href="#">Pro Review</a></li>
                <li><a class="tab" data-id ='#tab-reviews' href="#">User Review</a></li>
              </ul>
              <!--    전문가 리뷰      -->
              <div id="tab-description" class="tab-content">
                <div class="comment-respond">
                  <form class="comment-form">
                    <p><a href="#">Add Preview</a> </p>
                    <p class="comment-form-author">
                      <!-- <label>Name *</label> -->
                      <input  name="author" type="text" placeholder="Name" required="required">
                    </p>
                    <p class="comment-form-email">
                      <!-- <label>Email *</label> -->
                      <input  name="email" type="email" placeholder="Email" required="required">
                    </p>
                    <div class="clearfix"></div>
                    <p class="your-rating"><a href="#">Your Rating</a> </p>
                    <div class="my-rating">
                      <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                    </div>
                    <p class="comment-form-comment">
                      <!-- <label>Comment</label>  -->
                      <textarea  name="comment" placeholder="Comment" required="required"></textarea>
                    </p>
                    <p class="submit-form">
                      <button name="submit" type="submit"  class="submit btn btn-styl hvr-shutter-out-horizontal" >SUBMIT</button>
                    </p>
                  </form>
                </div>  <!-- /comment-respond -->
              </div>
              <!--    사용자 리뷰      -->
              <div id="tab-reviews" class="tab-content">
                <div id="reviews" class="woocommerce-Reviews">
                  <div class="post-bottom-second post-bottom">
                    <div class="avatar">
                      <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                           th:class="wine_image"
                           onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className='profile_img'">
                      <div class="post-rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="post-comment">
                      <div class="comment-meta comment"><a href="#"> May 28, 2018</a></div>
                      <div class="comment-title comment"><a href="#">Brandon Kelley</a></div>
                      <div class="comment-text comment">
                        <a href="#">Vasse Felix chief executive, Paul Holmes a Court said no plans have yet been made for the buildings on the property</a>
                      </div>
                    </div>
                  </div> <!-- /post-bottom-second -->
                  <div class="comment-respond">
                    <form class="comment-form">
                      <p><a href="#">Add Preview</a> </p>
                      <p class="comment-form-author">
                        <!-- <label>Name *</label> -->
                        <input  name="author" type="text" placeholder="Name" required="required">
                      </p>
                      <p class="comment-form-email">
                        <!-- <label>Email *</label> -->
                        <input  name="email" type="email" placeholder="Email" required="required">
                      </p>
                      <div class="clearfix"></div>
                      <p class="your-rating"><a href="#">Your Rating</a> </p>
                      <div class="my-rating">
                        <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                      </div>
                      <p class="comment-form-comment">
                        <!-- <label>Comment</label>  -->
                        <textarea  name="comment" placeholder="Comment" required="required"></textarea>
                      </p>
                      <p class="submit-form">
                        <button name="submit" type="submit"  class="submit btn btn-styl hvr-shutter-out-horizontal" >SUBMIT</button>
                      </p>
                    </form>
                  </div>  <!-- /comment-respond -->
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /row-->
      </div> <!-- /container -->
    </section> <!-- /main-shop-detail -->

    <!-- 사용자 맛 그래프 뷰 -->
    <div class="taste-Graph">
      <h3>Wine Taste Like</h3>
      <table class="tasteStructure">
        <tbody>
        <tr>
          <td>
            <div class="tasteStructureNm">Light</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" th:aria-valuenow="${wineDevelopCount.body}" aria-valuemin="0" aria-valuemax="5">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.body / 5 * 100} + '%') + '; position:relative; width: 10%; transform: translateX(-10%);'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Bold</div>
          </td>

        </tr>
        <tr>
          <td>
            <div class="tasteStructureNm">Smooth</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.tannin / 5 * 100} + '%') + '; position:relative; width: 10%;'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Tannic</div>
          </td>

        </tr>
        <tr>
          <td>
            <div class="tasteStructureNm">Dry</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.sweetness / 5 * 100} + '%') + '; position:relative; width: 10%;'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Sweet</div>
          </td>

        </tr>
        <tr>
          <td>
            <div class="tasteStructureNm">Soft</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.acidity / 5 * 100} + '%') + '; position:relative; width: 10%; transform: translateX(-10%);'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Acidic</div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="tasteStructureNm">Gentle</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.fizz / 5 * 100} + '%') + '; position:relative; width: 10%;'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Fizzy</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 사용자 아로마 휠, 페어링 뷰 -->
    <div class="card-container">
      <div class="aroma-container">
        <h2>Aroma Wheel</h2>
        <div class="card">
          <img class="aroma" src="https://cdn-icons-png.flaticon.com/128/1791/1791364.png" alt="aroma">
          <p>이곳은 카드 1의 내용입니다.</p>
        </div>
        <div class="card">
          <img class="aroma" src="https://cdn-icons-png.flaticon.com/128/1791/1791354.png" alt="aroma">
          <p>이곳은 카드 2의 내용입니다.</p>
        </div>
      </div>

      <div class="food-container">
        <h2>Food Pairing</h2>
        <div class="food">
          <img class="pairing" src="https://cdn-icons-png.flaticon.com/128/1046/1046769.png" alt="pairing">
          <p>이곳은 카드 1의 내용입니다.</p>
        </div>
        <div class="food">
          <img class="pairing" src="https://cdn-icons-png.flaticon.com/128/819/819827.png" alt="pairing">
          <p>이곳은 카드 2의 내용입니다.</p>
        </div>
      </div>
    </div>
    <!-- 전문가 맛 그래프 입력 폼 -->

    <div class="pro-taste">
      <div class="taste-like">
        <div class="taste-body">
          <h3>Body</h3>
          <span class="taste-title"> Light ~ Bold </span>
          <select class="select-option">
            <option value="min">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
          </select>

        </div>

        <div class="taste-tannin">
          <h3>Tannin</h3>
          <span class="taste-title"> Smooth ~ Tannic</span>
          <select class="select-option">
            <option value="min">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="taste-sweetness">
          <h3>Sweetness</h3>
          <span class="taste-title"> Dry ~ Sweet </span>
          <select class="select-option">
            <option value="min">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="taste-acidity">
          <h3>Acidity</h3>
          <span class="taste-title"> Soft ~ Acidic</span>
          <select class="select-option">
            <option value="min">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="taste-fizz">
          <h3>Fizz</h3>
          <span class="taste-title"> Gentle ~ Fizzy </span>
          <select class="select-option">
            <option value="min">0</option>
            <option value="0.5">0.5</option>
            <option value="1">1</option>
            <option value="1.5">1.5</option>
            <option value="2">2</option>
            <option value="2.5">2.5</option>
            <option value="3">3</option>
            <option value="3.5">3.5</option>
            <option value="4">4</option>
            <option value="4.5">4.5</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>

    </div>



    <!-- 전문가 아로마 휠, 페어링 입력 폼 -->

    <div class="admin-review">
      <!--   아로마 휠 & 푸드 페어링       -->
      <div class="aromaOne">
        <h5>Aroma Type 1</h5>
        <select>
          <option value="레몬, 라임, 자몽">Citrus</option>
          <option value="배, 사과, 풋사과">TreeFruit</option>
          <option value="복숭아, 자두, 살구">StoneFruit</option>
          <option value="구아바, 패션프루트, 리치">TropicalFruit</option>
          <option value="산딸기, 딸기, 커런트">Berry</option>
          <option value="장미, 자스민, 라벤더">Fruit</option>
          <option value="딜, 타임, 바질">Herb</option>
          <option value="피망, 토마토, 아스파라거스">Vegetable</option>
          <option value="빵, 버터, 효모">Fermented</option>
          <option value="카라멜, 초콜렛, 커피, 토스트">Roasted</option>
          <option value="바닐라, 후추, 정향">Spice</option>
          <option value="아몬드, 헤이즐넛, 피칸">Nuts</option>
          <option value="백단목, 백향목, 솔향">Tree</option>
          <option value="꿀, 모과">Sugar</option>
          <option value="버섯, 이끼, 송로">Fungi</option>
        </select>
      </div>

      <div class="aromaOne">
        <h5>Aroma Type 2</h5>
        <select>
          <option value="레몬, 라임, 자몽">Citrus</option>
          <option value="배, 사과, 풋사과">TreeFruit</option>
          <option value="복숭아, 자두, 살구">StoneFruit</option>
          <option value="구아바, 패션프루트, 리치">TropicalFruit</option>
          <option value="산딸기, 딸기, 커런트">Berry</option>
          <option value="장미, 자스민, 라벤더">Fruit</option>
          <option value="딜, 타임, 바질">Herb</option>
          <option value="피망, 토마토, 아스파라거스">Vegetable</option>
          <option value="빵, 버터, 효모">Fermented</option>
          <option value="카라멜, 초콜렛, 커피, 토스트">Roasted</option>
          <option value="바닐라, 후추, 정향">Spice</option>
          <option value="아몬드, 헤이즐넛, 피칸">Nuts</option>
          <option value="백단목, 백향목, 솔향">Tree</option>
          <option value="꿀, 모과">Sugar</option>
          <option value="버섯, 이끼, 송로">Fungi</option>
        </select>
      </div>

      <div class="foodOne">
        <h5>Food Paring 1</h5>
        <select>
          <option value="Beef">Beef</option>
          <option value="Chicken">Chicken</option>
          <option value="Pork">Pork</option>
          <option value="Mushroom">Mushroom</option>
          <option value="Charcuterie">Charcuterie</option>
          <option value="Cheese">Cheese</option>
          <option value="Pasta">Pasta</option>
          <option value="Spicy">Spicy</option>
          <option value="Snack">Snack</option>
          <option value="Shell">Shell</option>
          <option value="Fish">Fish</option>
          <option value="Vegetable">Vegetable</option>
        </select>
      </div>

      <div class="foodOne">
        <h5>Food Paring 2</h5>
        <select>
          <option value="Beef">Beef</option>
          <option value="Chicken">Chicken</option>
          <option value="Pork">Pork</option>
          <option value="Mushroom">Mushroom</option>
          <option value="Charcuterie">Charcuterie</option>
          <option value="Cheese">Cheese</option>
          <option value="Pasta">Pasta</option>
          <option value="Spicy">Spicy</option>
          <option value="Snack">Snack</option>
          <option value="Shell">Shell</option>
          <option value="Fish">Fish</option>
          <option value="Vegetable">Vegetable</option>
        </select>
      </div>
    </div>






    <!-- 비슷한 와인 리스트 -->
    <section class="flat-products style2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-section">
              <h1 class="our-product-main"><a href="#">Similar Wine</a></h1>
              <div class="our-product-image">
                <img src="/main/image/homepage14.png" alt="image">
              </div>
            </div> <!-- /title-section -->
            <div class="product-content product-fourcolumn clearfix">
              <ul class="product style2 isotope-product clearfix">
                <li class="product-item features arrivals">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage55.png" alt="image">
                    </a>
                  </div>
                  <div class="product-info text-center clearfix">
                    <span class="product-title">Laboure Chardonnay</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$19.99</span>
                      </ins>
                    </div>

                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
                <li class="product-item features sale">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage150.png" alt="image">
                    </a>
                  </div>
                  <div class="product-info clearfix">
                    <span class="product-title">Josh Cellars Cabarnet</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$29.99</span>
                        <del>$38.99</del>
                      </ins>
                    </div>

                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
                <li class="product-item features">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage57.png" alt="image">
                    </a>

                  </div>
                  <div class="product-info clearfix">
                    <span class="product-title">Dark Horse Rosé</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$38.49</span>
                      </ins>
                    </div>
                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
                <li class="product-item arrivals">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage150.png" alt="image">
                    </a>
                  </div>
                  <div class="product-info clearfix">
                    <span class="product-title">Dark Hose Rosé</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$38.49</span>
                      </ins>
                    </div>

                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
              </ul>
            </div>
          </div> <!-- /col-lg-12 -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section> <!-- /flat-products-->
  </div>


</div>
</html>