<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 사용자 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/wine-form.css}">

</th:block>

<!--/* 사용자 js 추가 */-->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function(){

          // const errorMessage = [[${errorMessage}]];
          // if (errorMessage != null) {
          //   alert(errorMessage);
          // }

          bindDomEvent();

            // 평가 별점 클릭 시 밸류 변화
            $('.developRatingInput i').on('click', function () {
                const rating = $(this).data('value');
                $('.developRatingInput i').removeClass('active'); // 기존 별점 초기화
                $(this).prevAll().addBack().addClass('active'); // 선택한 별점과 이전 별점에 active 클래스 추가
                $('#developRating').val(rating); // 숨겨진 input에 별점 저장
            });
        });

        // 이미지 파일만 등록 가능하도록 해주기
        function bindDomEvent() {
          $(".custom-file-input").on("change", function() {
            const fileName = $(this).val().split("\\").pop();
            // 체인지가 일어난곳(this)의 밸류(들어간 파일의 경로)
            // 경로를 스플릿하면 경로의 마지막이 제일 위로 쌓이고, 팝하면 그걸 꺼내옴 = 파일명
            let fileExt = fileName.substring(fileName.lastIndexOf(".")+1); // 확장자 추출
            fileExt = fileExt.toLowerCase(); // 확장자를 소문자로 변환

            if (fileExt != "jpg" && fileExt != "jpeg" && fileExt != "gif" && fileExt != "png" && fileExt != "bmp") {
              alert("이미지 파일만 등록이 가능합니다.");
              return;
            }

            $(this).siblings(".custom-file-label").html(fileName);
            // 파일 이름 띄워주기 (this=custom-file-input 의 형제 중 custom-file-label 에 fileName을 html로 넣어줌)

          });
        }

        // 와인 타입 변경시 셀렉트바 토글
        function toggleDevelopForm() {
            const wineTypeSelect = document.getElementById("wineTypeSelect");
            const developTanninSelector = document.getElementById("developTanninSelector");
            const developFizzSelector = document.getElementById("developFizzSelector");
            const developSweetnessSelector = document.getElementById("developSweetnessSelector");

            if (wineTypeSelect.value === "RED") {
                developTanninSelector.style.display = "block";
                developFizzSelector.style.display = "none";
                developSweetnessSelector.style.display = "block";
            } else if (wineTypeSelect.value === "SPARKLING") {
                developFizzSelector.style.display = "block";
                developSweetnessSelector.style.display = "none";
                developTanninSelector.style.display = "none";
            } else {
                developTanninSelector.style.display = "none";
                developFizzSelector.style.display = "none";
                developSweetnessSelector.style.display = "block";
            }


        }
        // 와인폼 저장 -> 아이디 반환 -> 디벨롭폼 저장
        function submitWineForm() {
            const wineData = new FormData(document.getElementById("wineForm")); // 와인 폼 데이터 가져오기
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            // 평가 등록전에 하면 이미 와인이 등록된 상태라서 에러날거같음. 여기서 먼저 도전
            const aromaOne = $('select[name="develop-aromaOne"]').val();
            const aromaTwo = $('select[name="develop-aromaTwo"]').val();
            const foodOne = $('select[name="develop-foodOne"]').val();
            const foodTwo = $('select[name="develop-foodTwo"]').val();
            if (aromaOne === aromaTwo) {
                alert('아로마는 같은 값을 선택할 수 없습니다.');
                return;
            }
            if (foodOne === foodTwo) {
                alert('페어링은 같은 값을 선택할 수 없습니다.');
                return;
            }
            console.log("메소드시작");

            // AJAX 요청으로 와인 데이터 저장
            $.ajax({
                url: '/wines/new', // 와인 저장 URL
                type: 'POST',
                data: wineData,
                processData: false, // FormData가 자동으로 처리되도록 설정
                contentType: false,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                },
                success: function(response) {
                    const wineId = response.wineId; // 서버에서 반환된 와인 ID
                    console.log("와인등록성공");
                    // 디벨롭 폼 데이터 가져오기
                    const developData = {
                        expertRating: $('#developRating').val(),
                        expertComment: $('textarea[name="developComment"]').val(),
                        sweetness: $('select[name="develop-sweetness"]').val(),
                        acidity: $('select[name="develop-acidity"]').val(),
                        body: $('select[name="develop-body"]').val(),
                        tannin: $('select[name="develop-tannin"]').val(),
                        fizz: $('select[name="develop-fizz"]').val(),
                        aromaOne: aromaOne,
                        aromaTwo: aromaTwo,
                        foodOne: foodOne,
                        foodTwo: foodTwo,
                        wineId: wineId // 저장된 와인 ID 추가
                    };

                    // 디벨롭 데이터 AJAX 요청
                    $.ajax({
                        url: `/develops/new/${wineId}`, // 디벨롭 저장 URL
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(developData),
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        success: function(response) {
                            console.log("와인평가등록성공");

                        },
                        error: function(xhr) {
                            const errorMessage = xhr.responseText || '와인 등록 중 오류가 발생했습니다.';
                            alert(errorMessage); // 서버에서 반환한 에러 메시지 표시
                        }
                    });

                    alert('와인이 등록되었습니다.');
                    window.location.assign('/wines/list');
                },
                error: function(xhr) {
                    const errorMessage = xhr.responseText || '와인 등록 중 오류가 발생했습니다.';
                    alert(errorMessage); // 서버에서 반환한 에러 메시지 표시

                }
            });
        }



    </script>
</th:block>


<div layout:fragment="content">

    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li class="blog"><a href="#">Wine Form</a></li>
                    </ul>
                </div>
                <div class="page-title-heading">
                    <h2 class="title"><a href="#">Wine Form</a></h2>
                </div>
            </div>
        </div>
    </div> <!-- /.page-title -->

    <div class="wine-form">
        <h1 class="wine-form-title">Wine Register</h1>

        <!-- 타임리프를 사용한 와인 등록 폼 -->
        <form th:action="@{/wines/new}" method="post" class="wineForm" id="wineForm" th:object="${wineDTO}" enctype="multipart/form-data">

            <!-- 와인 이름 입력 -->
            <div class="form-group">
                <label th:for="wineName">Wine Name</label>
                <input th:field="*{wineName}" type="text" placeholder="와인 이름을 입력해주세요." required/>
            </div>

            <!-- 생산 국가 입력 -->
            <div class="form-group">
                <label th:for="country">Wine Country</label>
                <input th:field="*{country}" type="text" placeholder="생산 국가를 입력해주세요." required/>
            </div>

            <!-- 생산 지역 입력 -->
            <div class="form-group">
                <label th:for="region">Wine Region</label>
                <input th:field="*{region}" type="text" placeholder="생산 지역을 입력해주세요." required/>
            </div>

            <!-- 와인 가격 입력 -->
            <div class="form-group">
                <label th:for="price">Price (₩)</label>
                <input th:field="*{price}" type="number" placeholder="와인 가격을 입력해주세요." required/>
            </div>

            <!-- 와인 종류 선택 -->
            <div class="form-group">
                <label th:for="wineType">Wine Type</label>
                <select th:field="*{wineType}" id="wineTypeSelect" onchange="toggleDevelopForm()">
                    <option value="RED">RED</option>
                    <option value="WHITE">WHITE</option>
                    <option value="SPARKLING">SPARKLING</option>
                    <option value="ROSE">ROSE</option>
                    <option value="DESSERT">DESSERT</option>
                    <option value="PORT">PORT</option>
                </select>
            </div>

            <!-- 이미지 첨부 -->
            <div class="form-group">
                <label th:for="wineImg">Wine Image</label>
                <div th:if="${#strings.isEmpty(wineDTO.wineImg)}">
                    <div class="form-img">
                        <div class="custom-file img-div">
                            <input type="file" class="custom-file-input" name="wineImgFile">
                            <label class="custom-file-label" th:text="와인이미지"></label>
                        </div>
                    </div>
                </div>

                <div th:if="${not #strings.isEmpty(wineDTO.wineImg)}">
                    <div class="form-img">
                        <div class="custom-file img-div">
                            <input type="file" class="custom-file-input" name="wineImgFile">
                            <input type="hidden" name="id" th:value="${wineDTO.id}">
                            <label class="custom-file-label"
                                   th:text="와인 이미지를 동록해주세요."></label>
                        </div>
                    </div>
                </div>
            </div>





        </form>

        <div class="comment-respond" >
            <form class="developForm" id="comment-respond-develop">
                    <span>
                    <!-- 전문가 맛 그래프 입력 폼 -->
                    <h2 class="add-develop">Add Develop</h2>

                    <div class="pro-taste">
                      <div class="taste-like">
                        <div class="taste-category">
                          <h3>Body</h3>
                          <select class="select-option" name="develop-body">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>

                        </div>

                        <div class="taste-category" id="developTanninSelector">
                          <h3>Tannin</h3>
                          <select class="select-option" name="develop-tannin" >
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category" id="developSweetnessSelector">
                          <h3>Sweetness</h3>
                          <select class="select-option" name="develop-sweetness">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category">
                          <h3>Acidity</h3>
                          <select class="select-option" name="develop-acidity">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category" id="developFizzSelector" style="display: none;">
                          <h3>Fizz</h3>
                          <select class="select-option" name="develop-fizz">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>

                    </div>



                        <!-- 전문가 아로마 휠, 페어링 입력 폼 -->

                    <div class="aroma-food-all">
                      <div class="aroma-food">

                      <!--   아로마 휠 & 푸드 페어링       -->
                        <div class="wheel-category">
                        <h3>Aroma-1</h3>
                        <select name="develop-aromaOne" id="aromaOne">
                          <option value="Citrus">Citrus</option>
                          <option value="Tree Fruit">Tree Fruit</option>
                          <option value="Stone Fruit">Stone Fruit</option>
                          <option value="Tropical Fruit">Tropical Fruit</option>
                          <option value="Berry">Berry</option>
                          <option value="Floral">Floral</option>
                          <option value="Herb">Herb</option>
                          <option value="Vegetable">Vegetable</option>
                          <option value="Fermented">Fermented</option>
                          <option value="Roasted">Roasted</option>
                          <option value="Spice">Spice</option>
                          <option value="Nuts">Nuts</option>
                          <option value="Tree">Tree</option>
                          <option value="Honey">Honey</option>
                          <option value="Fungi">Fungi</option>
                        </select>
                      </div>

                        <div class="wheel-category">
                        <h3>Aroma-2</h3>
                        <select name="develop-aromaTwo" id="aromaTwo">
                          <option value="Citrus">Citrus</option>
                          <option value="Tree Fruit">Tree Fruit</option>
                          <option value="Stone Fruit">Stone Fruit</option>
                          <option value="Tropical Fruit">Tropical Fruit</option>
                          <option value="Berry">Berry</option>
                          <option value="Floral">Floral</option>
                          <option value="Herb">Herb</option>
                          <option value="Vegetable">Vegetable</option>
                          <option value="Fermented">Fermented</option>
                          <option value="Roasted">Roasted</option>
                          <option value="Spice">Spice</option>
                          <option value="Nuts">Nuts</option>
                          <option value="Tree">Tree</option>
                          <option value="Honey">Honey</option>
                          <option value="Fungi">Fungi</option>
                        </select>
                      </div>

                        <div class="wheel-category">
                        <h3>Paring-1</h3>
                        <select name="develop-foodOne" id="foodOne">
                          <option value="Beef">Beef</option>
                          <option value="Chicken">Chicken</option>
                          <option value="Pork">Pork</option>
                          <option value="Mushroom">Mushroom</option>
                          <option value="Charcuterie">Charcuterie</option>
                          <option value="Cheese">Cheese</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Spicy">Spicy</option>
                          <option value="Snack">Snack</option>
                          <option value="Shell">Shell</option>
                          <option value="Fish">Fish</option>
                          <option value="Vegetable">Vegetable</option>
                        </select>
                      </div>

                        <div class="wheel-category">
                        <h3>Paring-2</h3>
                        <select name="develop-foodTwo" id="foodTwo">
                          <option value="Beef">Beef</option>
                          <option value="Chicken">Chicken</option>
                          <option value="Pork">Pork</option>
                          <option value="Mushroom">Mushroom</option>
                          <option value="Charcuterie">Charcuterie</option>
                          <option value="Cheese">Cheese</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Spicy">Spicy</option>
                          <option value="Snack">Snack</option>
                          <option value="Shell">Shell</option>
                          <option value="Fish">Fish</option>
                          <option value="Vegetable">Vegetable</option>
                        </select>
                      </div>
                      </div>
                    </div>


                    <div class="clearfix"></div>
                    <p class="your-rating">Rating</p>
                    <div class="developRatingInput">
                      <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                      <input type="hidden" id="developRating" name="developRating" value=""> <!-- 숨겨진 입력 필드로 별점 저장 -->
                    </div>
                    <p class="comment-form-comment">
                      <textarea  name="developComment" placeholder="Comment" required="required"></textarea>
                    </p>

                      </span>
            </form>
        </div>  <!-- /comment-respond -->

        <p class="submit-form">
            <button name="submit" type="submit" class="submit btn btn-styl hvr-shutter-out-horizontal" onclick="submitWineForm()">SUBMIT</button>
        </p>

    </div>

</div>
</html>