<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 추가된 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/wine-detail.css}">
  <style>
    .profile_img {
      width: 50px;
      height: 50px;
    }
    .wine_img {
      height: 400px;
      width: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .similar_img {
      height: 250px;
      width: auto;
    }
    .progress-bar {
      position:relative;
      width: 10%;
      transform: translateX(-10%);
    }
    .review_box {
      margin: 20px auto;
    }
    .heart.mg-item-ct {
      cursor: pointer;
    }
    .heart.mg-item-ct.active {
      background-color: #c02323 !important;
    }
    .fa.fa-heart.active {
      color: white !important;
    }
    .disabled {
      pointer-events: none; /* 클릭 이벤트 방지 */
      opacity: 0.1; /* 비활성화된 효과 */
    }
    .page-active {
      background-color: #c02323 !important;
    }
  </style>
</th:block>

<!-- 추가된 js  -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:href="@{/wine-detail.js}"></script>
  <script th:inline="javascript">
    $(document).ready(function () {
      const wineId = $('#getWineId').data('wine-id');
      getWineDevelopList(wineId, 0);
      getWineReviewList(wineId, 0);
    });
    function addCellar(element) {
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");

      const wineId = $(element).data('wine-id');
      const url = "/cellars";
      const paramData = {
        wineId: wineId
      };
      const param = JSON.stringify(paramData);

      $.ajax({
        url: url,
        type: "POST",
        contentType: "application/json",
        data: param,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(header, token)},
        dataType: "json",
        cache: false,
        success: function (result, status) {
          alert('셀러에 추가되었습니다.');
          $(element).addClass('active')
          $(element).find('i').addClass('active');
        },
        error: function (xhr, status, error) {
          if (xhr.status == '401') {
            alert('로그인 후 이용하세요.');
            location.href = '/members/login';
          } else {
            alert(xhr.responseText);
          }
        }
      });
    }

    function getWineDevelopList(wineId, developPage) {
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");
      console.log(`/develops/${wineId}/${developPage}`);

      $.ajax({
        url: `/develops/${wineId}/${developPage}`, // 템플릿 리터럴 사용
        type: 'GET',
        beforeSend: function(xhr) {
          xhr.setRequestHeader(header, token);
        },
        cache: false,
        success: function(data) {
          const wineDevelopListContainer = $('#wineDevelopListContainer');
          wineDevelopListContainer.empty(); // 기존 내용 초기화

          data.wineDevelops.forEach(function(develop) {
            const expertRating = develop.expertRating != null ? Math.round(develop.expertRating) : 0;

            const item = `
                    <div class="avatar">
                        <img src="/wineshare-img/people.png" alt="image" class="profile_img">
                    </div>
                    <div class="post-comment">
                        <div class="post-rating">
                            <span>
                                ${Array.from({ length: expertRating }, () => `<i class="fa fa-star active" aria-hidden="true"></i>`).join('')}
                                ${Array.from({ length: 5 - expertRating }, () => `<i class="fa fa-star" aria-hidden="true"></i>`).join('')}
                            </span>
                        </div>
                        <div class="comment-title comment">${develop.memberId}</div>
                        <div class="comment-text comment">${develop.expertComment}</div>
                    </div>
                `;
            wineDevelopListContainer.append(item); // HTML 추가

          });
          updateDevelopPage(data.currentPage, data.totalPages)
        },
        error: function(xhr) {
          console.error(xhr);
          let errorMessage = '와인 평가 정보를 불러오지 못했습니다.';
          if (xhr.status === 401) {
            errorMessage = '로그인이 필요합니다.';
          } else if (xhr.status === 500) {
            errorMessage = '서버 오류가 발생했습니다. 나중에 다시 시도하세요.';
          }
          alert(errorMessage);
        }
      });
    }

    function updateDevelopPage(currentPage, totalPages) {
      const wineId = $('#getWineId').data('wine-id');
      const paginationContainer = $('#developPageContainer');
      paginationContainer.empty(); // 기존 페이지네이션 비우기
      // 이전 버튼
      const prevDisabled = currentPage === 0 ? 'disabled' : '';
      paginationContainer.append(`
        <li class="prev hvr-shutter-out-horizontal ${prevDisabled}">
            <a ${prevDisabled ? '' : 'onclick="getWineDevelopList(' + wineId + ',' + (currentPage - 1) + ')"'} aria-label="Previous">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
        `);
      // maxPage를 정의합니다. (예: 5)
      const maxPage = 5;
      // 페이지 번호 계산
      let start = Math.floor(currentPage / maxPage) * maxPage; // 현재 페이지 기준으로 시작
      let end = Math.min(start + maxPage, totalPages); // 최대 maxPage 개수 표시
      // 페이지 번호 추가
      for (let i = start; i < end; i++) {
        const activeClass = i === currentPage ? 'page-active' : '';
        paginationContainer.append(`
            <li class="hvr-shutter-out-horizontal ${activeClass}">
                <a onclick="getWineDevelopList(${wineId}, ${i} )" aria-label="Page">${i + 1}</a>
            </li>
        `);
      }
      // 다음 버튼
      const nextDisabled = currentPage === totalPages - 1 ? 'disabled' : '';
      paginationContainer.append(`
        <li class="next hvr-shutter-out-horizontal ${nextDisabled}">
            <a ${nextDisabled ? '' : 'onclick="getWineDevelopList('+ wineId + ',' + (currentPage + 1) + ')"'} aria-label="Next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
        `);
    }

    function getWineReviewList(wineId, reviewPage) {
      const token = $("meta[name='_csrf']").attr("content");
      const header = $("meta[name='_csrf_header']").attr("content");
      console.log(`/reviews/${wineId}/${reviewPage}`);

      $.ajax({
        url: `/reviews/${wineId}/${reviewPage}`, // 템플릿 리터럴 사용
        type: 'GET',
        beforeSend: function(xhr) {
          xhr.setRequestHeader(header, token);
        },
        cache: false,
        success: function(data) {
          const wineReviewListContainer = $('#wineReviewListContainer');
          wineReviewListContainer.empty(); // 기존 내용 초기화

          data.wineReviews.forEach(function(review) {
            const reviewRating = review.regularRating != null ? Math.round(review.regularRating) : 0;

            const item = `
                    <div class="avatar">
                        <img src="/wineshare-img/people.png" alt="image" class="profile_img">
                    </div>
                    <div class="post-comment">
                        <div class="post-rating">
                            <span>
                                ${Array.from({ length: reviewRating }, () => `<i class="fa fa-star active" aria-hidden="true"></i>`).join('')}
                                ${Array.from({ length: 5 - reviewRating }, () => `<i class="fa fa-star" aria-hidden="true"></i>`).join('')}
                            </span>
                        </div>
                        <div class="comment-title comment">${review.memberId}</div>
                        <div class="comment-text comment">${review.regularReview}</div>
                    </div>
                `;
            wineReviewListContainer.append(item); // HTML 추가

          });
          updateReviewPage(data.currentPage, data.totalPages)
        },
        error: function(xhr) {
          console.error(xhr);
          let errorMessage = '와인 리뷰 정보를 불러오지 못했습니다.';
          if (xhr.status === 401) {
            errorMessage = '로그인이 필요합니다.';
          } else if (xhr.status === 500) {
            errorMessage = '서버 오류가 발생했습니다. 나중에 다시 시도하세요.';
          }
          alert(errorMessage);
        }
      });
    }
    function updateReviewPage(currentPage, totalPages) {
      const wineId = $('#getWineId').data('wine-id');
      const paginationContainer = $('#reviewPageContainer');
      paginationContainer.empty(); // 기존 페이지네이션 비우기
      // 이전 버튼
      const prevDisabled = currentPage === 0 ? 'disabled' : '';
      paginationContainer.append(`
        <li class="prev hvr-shutter-out-horizontal ${prevDisabled}">
            <a ${prevDisabled ? '' : 'onclick="getWineReviewList(' + wineId + ',' + (currentPage - 1) + ')"'} aria-label="Previous">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
        `);
      // maxPage를 정의합니다. (예: 5)
      const maxPage = 5;
      // 페이지 번호 계산
      let start = Math.floor(currentPage / maxPage) * maxPage; // 현재 페이지 기준으로 시작
      let end = Math.min(start + maxPage, totalPages); // 최대 maxPage 개수 표시
      // 페이지 번호 추가
      for (let i = start; i < end; i++) {
        const activeClass = i === currentPage ? 'page-active' : '';
        paginationContainer.append(`
            <li class="hvr-shutter-out-horizontal ${activeClass}">
                <a onclick="getWineReviewList(${wineId}, ${i} )" aria-label="Page">${i + 1}</a>
            </li>
        `);
      }
      // 다음 버튼
      const nextDisabled = currentPage === totalPages - 1 ? 'disabled' : '';
      paginationContainer.append(`
        <li class="next hvr-shutter-out-horizontal ${nextDisabled}">
            <a ${nextDisabled ? '' : 'onclick="getWineReviewList('+ wineId + ',' + (currentPage + 1) + ')"'} aria-label="Next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
        `);
    }
  </script>
</th:block>


<div layout:fragment="content">
  <div class="page-title parallax parallax1">
    <div class="container">
      <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
        <div class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li class="blog"><a href="#">Product Details</a></li>
          </ul>
        </div>
        <div class="page-title-heading">
          <h2 class="title"><a href="#">PRODUCT DETAILS</a></h2>
        </div>
      </div>
    </div>
  </div> <!-- /.page-title -->

  <div class="main-shop-detail-review" >
    <section class="main-shop-detail" style="padding: 100px 0 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="image-wrap">

              <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
              wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
              wine.wineImg == 'https://images.vivino.com/highlights/icon/top_ranked.svg'
              ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                   th:class="wine_img"
                   onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className='wine_img'">

            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="content-wrap">
              <h1 class="heading" th:text="${wine.wineName}"></h1>

              <h3 class="dolar" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : #numbers.formatCurrency(wine.price)}">$19.99</h3>

              <div class="info-content">
                <ul>
                  <li>
                    <span class="note">
                      <span th:with="end=${wineDevelopCount.expertRating != null || wineDevelopCount.expertRating != 0 ? T(java.lang.Math).round(wineDevelopCount.expertRating) : 0}">
                        <span th:each="i : ${#numbers.sequence(1, end)}" th:if="${end > 0}">
                          <i class="fa fa-star active" aria-hidden="true"></i> <!-- 채워진 별 -->
                        </span>
                        <span th:each="i : ${#numbers.sequence(end + 1, 5)}" th:if="${end < 5}">
                          <i class="fa fa-star" aria-hidden="true"></i> <!-- 빈 별 -->
                        </span>
                        <span th:text="${#numbers.formatDecimal(wineDevelopCount.ExpertRating, 1, 1)}"></span>
                      </span>
                      (전문가)
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      <span th:with="end=${wineReviewRating.regularRating != null || wineReviewRating.regularRating != 0 ? T(java.lang.Math).round(wineReviewRating.regularRating) : 0}">
                        <span th:each="i : ${#numbers.sequence(1, end)}" th:if="${end > 0}">
                          <i class="fa fa-star active" aria-hidden="true"></i> <!-- 채워진 별 -->
                        </span>
                        <span th:each="i : ${#numbers.sequence(end + 1, 5)}" th:if="${end < 5}">
                          <i class="fa fa-star" aria-hidden="true"></i> <!-- 빈 별 -->
                        </span>
                        <span th:text="${#numbers.formatDecimal(wineReviewRating.regularRating, 1, 1)}"></span>
                      </span>
                      (소비자)
                    </span>
                  </li>

                  <li>
                    <br>
                    <span class="note">
                      Type:
                      <span th:text="${wine.wineType}"></span>
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      Country:
                      <span th:text="${wine.country}"></span>
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      Region:
                      <span th:text="${wine.region}"></span>
                    </span>
                  </li>
                </ul>
              </div>

              <div class="content-cart clearfix">
                <br>
                <div class="cart clearfix">
                  <div class="heart mg-item-ct" onclick="addCellar(this)" th:data-wine-id="${wine.id}" id="getWineId"
                       th:classappend="${isInCellar} ? 'active' : ''">
                    <i class="fa fa-heart" aria-hidden="true" th:classappend="${isInCellar} ? 'active' : ''"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /row-->
      </div> <!-- /container -->
    </section> <!-- /main-shop-detail -->

    <!-- 사용자 맛 그래프 뷰 -->
    <div class="taste-Graph">
      <h3>Wine Taste Like</h3>
      <table class="tasteStructure">
        <tbody>
        <tr>
          <td>
            <div class="tasteStructureNm">Light</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" th:aria-valuenow="${wineDevelopCount.body}" aria-valuemin="0" aria-valuemax="5">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.body / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Bold</div>
          </td>

        </tr>
        <tr th:if="${wine.wineType != null and wine.wineType == T(com.keduit.wineshare.constant.WineType).RED}">
          <td>
            <div class="tasteStructureNm">Smooth</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.tannin / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Tannic</div>
          </td>

        </tr>
        <tr th:if="${wine.wineType != null and wine.wineType != T(com.keduit.wineshare.constant.WineType).SPARKLING}">
          <td>
            <div class="tasteStructureNm">Dry</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.sweetness / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Sweet</div>
          </td>

        </tr>
        <tr>
          <td>
            <div class="tasteStructureNm">Soft</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.acidity / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Acidic</div>
          </td>
        </tr>
        <tr th:if="${wine.wineType != null and wine.wineType == T(com.keduit.wineshare.constant.WineType).SPARKLING}">
          <td>
            <div class="tasteStructureNm">Gentle</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.fizz / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Fizzy</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 사용자 아로마 휠, 페어링 뷰 -->
    <div class="card-container">
      <div class="aroma-container">
        <h2>Aroma Wheel</h2>
        <div class="card">
          <img class="aroma" th:src="${aromaOne.aromaImg}" alt="aroma">
          <p th:text="${aromaOne.aromaValue}">이곳은 카드 1의 내용입니다.</p>
        </div>
        <div class="card">
          <img class="aroma" th:src="${aromaTwo.aromaImg}" alt="aroma">
          <p th:text="${aromaTwo.aromaValue}">이곳은 카드 2의 내용입니다.</p>
        </div>
      </div>

      <div class="food-container">
        <h2>Food Pairing</h2>
        <div class="food">
          <img class="pairing" th:src="${foodOne.foodImg}" alt="pairing">
          <p th:text="${foodOne.food}">이곳은 카드 1의 내용입니다.</p>
        </div>
        <div class="food">
          <img class="pairing" th:src="${foodTwo.foodImg}" alt="pairing">
          <p th:text="${foodTwo.food}">이곳은 카드 2의 내용입니다.</p>
        </div>
      </div>
    </div>







    <!-- 비슷한 와인 리스트 -->
    <section class="flat-products style2" style="padding: 100px 0 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-10" style="margin: 0 auto;">
            <div class="title-section">
              <h1 class="our-product-main">Similar Wine</h1>
              <div class="our-product-image">
                <img th:src="@{/image/homepage14.png}" alt="image">
              </div>
            </div> <!-- /title-section -->
            <div class="product-content product-fourcolumn clearfix">
              <ul class="product style2 isotope-product clearfix">
                <li class="product-item features arrivals" th:each="similarWine, status : ${similarWineList}">
                  <div class="product-thumb clearfix" >
                    <a th:href="@{'/wines/wine/' + ${similarWine.id}}" class="product-thumb">
                      <img th:src="${similarWine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
                                                    similarWine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
                                                    similarWine.wineImg == 'https://images.vivino.com/highlights/icon/top_ranked.svg'
                                                    ? '/image/wineDefault.png' : similarWine.wineImg}" alt="image"
                           th:class="similar_img"
                           onerror="this.onerror=null; this.src='/image/wineDefault.png';">
                    </a>
                  </div>
                  <div class="product-info text-center clearfix">
                    <span class="product-title" th:text="${similarWine.wineName}">와인이름</span>
                  </div>
                </li> <!-- /product-item -->

              </ul>
            </div>
          </div> <!-- /col-lg-12 -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section> <!-- /flat-products-->

    <!--   리뷰 공간     -->
    <section class="main-shop-detail" style="padding: 0 0 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-11" >
            <div class="woocommerce-tabs wc-tabs-wrapper">
              <ul class="tabs">
                <li><a class="tab active" data-id ='#tab-description' href="#">Expert Review</a></li>
                <li><a class="tab" data-id ='#tab-reviews' href="#">User Review</a></li>
              </ul>
              <!--    전문가 리뷰      -->
              <div id="tab-description" class="tab-content">
                <div class="post-bottom-second post-bottom" >
                  <div class="review_box" id="wineDevelopListContainer">
                    <!-- 전문가 평가 들어올 자리 -->
                  </div>
                </div> <!-- /post-bottom-second -->

                <!-- 페이지 네이션 -->
                <div class="blog-pagination text-center">
                  <ul class="flat-pagination" id="developPageContainer">

                  </ul>
                </div>

                <div class="comment-respond">
                  <form class="comment-form">
                    <!-- 전문가 맛 그래프 입력 폼 -->
                    <p>Add Review</p>
                    <div class="pro-taste">
                      <div class="taste-like">
                        <div class="taste-category">
                          <h3>Body</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>

                        </div>

                        <div class="taste-category" th:if="${wine.wineType == T(com.keduit.wineshare.constant.WineType).RED}">
                          <h3>Tannin</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category" th:if="${wine.wineType != T(com.keduit.wineshare.constant.WineType).SPARKLING}">
                          <h3>Sweetness</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category">
                          <h3>Acidity</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category" th:if="${wine.wineType == T(com.keduit.wineshare.constant.WineType).SPARKLING}">
                          <h3>Fizz</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>

                    </div>



                    <!-- 전문가 아로마 휠, 페어링 입력 폼 -->

                    <div class="pro-taste">
                      <div class="taste-like">

                      <!--   아로마 휠 & 푸드 페어링       -->
                        <div class="taste-category">
                        <h3>Aroma1</h3>
                        <select>
                          <option value="Citrus">Citrus</option>
                          <option value="TreeFruit">TreeFruit</option>
                          <option value="StoneFruit">StoneFruit</option>
                          <option value="TropicalFruit">TropicalFruit</option>
                          <option value="Berry">Berry</option>
                          <option value="Floral">Floral</option>
                          <option value="Herb">Herb</option>
                          <option value="Vegetable">Vegetable</option>
                          <option value="Fermented">Fermented</option>
                          <option value="Roasted">Roasted</option>
                          <option value="Spice">Spice</option>
                          <option value="Nuts">Nuts</option>
                          <option value="Tree">Tree</option>
                          <option value="Sugar">Sugar</option>
                          <option value="Fungi">Fungi</option>
                        </select>
                      </div>

                        <div class="taste-category">
                        <h3>Aroma2</h3>
                        <select>
                          <option value="Citrus">Citrus</option>
                          <option value="TreeFruit">TreeFruit</option>
                          <option value="StoneFruit">StoneFruit</option>
                          <option value="TropicalFruit">TropicalFruit</option>
                          <option value="Berry">Berry</option>
                          <option value="Floral">Floral</option>
                          <option value="Herb">Herb</option>
                          <option value="Vegetable">Vegetable</option>
                          <option value="Fermented">Fermented</option>
                          <option value="Roasted">Roasted</option>
                          <option value="Spice">Spice</option>
                          <option value="Nuts">Nuts</option>
                          <option value="Tree">Tree</option>
                          <option value="Sugar">Sugar</option>
                          <option value="Fungi">Fungi</option>
                        </select>
                      </div>

                        <div class="taste-category">
                        <h3>Paring1</h3>
                        <select>
                          <option value="Beef">Beef</option>
                          <option value="Chicken">Chicken</option>
                          <option value="Pork">Pork</option>
                          <option value="Mushroom">Mushroom</option>
                          <option value="Charcuterie">Charcuterie</option>
                          <option value="Cheese">Cheese</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Spicy">Spicy</option>
                          <option value="Snack">Snack</option>
                          <option value="Shell">Shell</option>
                          <option value="Fish">Fish</option>
                          <option value="Vegetable">Vegetable</option>
                        </select>
                      </div>

                        <div class="taste-category">
                        <h3>Paring2</h3>
                        <select>
                          <option value="Beef">Beef</option>
                          <option value="Chicken">Chicken</option>
                          <option value="Pork">Pork</option>
                          <option value="Mushroom">Mushroom</option>
                          <option value="Charcuterie">Charcuterie</option>
                          <option value="Cheese">Cheese</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Spicy">Spicy</option>
                          <option value="Snack">Snack</option>
                          <option value="Shell">Shell</option>
                          <option value="Fish">Fish</option>
                          <option value="Vegetable">Vegetable</option>
                        </select>
                      </div>
                      </div>
                    </div>


                    <div class="clearfix"></div>
                    <p class="your-rating">Rating</p>
                    <div class="my-rating">
                      <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                    </div>
                    <p class="comment-form-comment">
                      <!-- <label>Comment</label>  -->
                      <textarea  name="comment" placeholder="Comment" required="required"></textarea>
                    </p>
                    <p class="submit-form">
                      <button name="submit" type="submit"  class="submit btn btn-styl hvr-shutter-out-horizontal" >SUBMIT</button>
                    </p>
                  </form>
                </div>  <!-- /comment-respond -->
              </div>
              <!--    사용자 리뷰      -->
              <div id="tab-reviews" class="tab-content">
                  <div class="post-bottom-second post-bottom" >
                    <div class="review_box" id="wineReviewListContainer">
                      <!-- 전문가 평가 들어올 자리 -->
                    </div>
                  </div> <!-- /post-bottom-second -->

                  <!-- 페이지 네이션 -->
                  <div class="blog-pagination text-center">
                    <ul class="flat-pagination" id="reviewPageContainer">

                    </ul>
                  </div>


                  <div class="comment-respond">
                    <form class="comment-form">
                      <p>Add Review</p>

                      <div class="clearfix"></div>
                      <p class="your-rating">Rating</p>
                      <div class="my-rating">
                        <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                      </div>
                      <p class="comment-form-comment">
                        <!-- <label>Comment</label>  -->
                        <textarea  name="comment" placeholder="Comment" required="required"></textarea>
                      </p>
                      <p class="submit-form">
                        <button name="submit" type="submit"  class="submit btn btn-styl hvr-shutter-out-horizontal" >SUBMIT</button>
                      </p>
                    </form>
                  </div>  <!-- /comment-respond -->

                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  </div>


</div>
</html>