<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 추가된 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/wine-detail.css}">
  <style>
    .profile_img {
      width: 50px;
      height: 50px;
    }
    .wine_img {
      height: 400px;
      width: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    .progress-bar {
      position:relative;
      width: 10%;
      transform: translateX(-10%);
    }
    .review_box {
      margin: 10px auto;
    }
  </style>
</th:block>

<!-- 추가된 js  -->
<th:block layout:fragment="script">
  <script type="text/javascript" th:href="@{/wine-detail.js}"></script>
</th:block>


<div layout:fragment="content">
  <div class="page-title parallax parallax1">
    <div class="container">
      <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
        <div class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li class="blog"><a href="#">Product Details</a></li>
          </ul>
        </div>
        <div class="page-title-heading">
          <h2 class="title"><a href="#">PRODUCT DETAILS</a></h2>
        </div>
      </div>
    </div>
  </div> <!-- /.page-title -->

  <div class="main-shop-detail-review" >
    <section class="main-shop-detail" style="padding: 100px 0 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="image-wrap">
              <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                   th:class="wine_img"
                   onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className='wine_img'">

            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="content-wrap">
              <h2 class="heading" th:text="${wine.wineName}"></h2>
              <div class="post-rating">
                <i class="fa fa-star active" aria-hidden="true"></i>
                <span th:text="${#numbers.formatDecimal(wineDevelopCount.ExpertRating, 1, 1)}"></span>

              </div>
              <h2 class="dolar" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : #numbers.formatCurrency(wine.price)}">$19.99</h2>

              <div class="info-content">
                <ul>
                  <li>
                    <span class="note">
                      Type:
                      <span th:text="${wine.wineType}"></span>
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      Country:
                      <span th:text="${wine.country}"></span>
                    </span>
                  </li>
                  <li>
                    <span class="note">
                      Region:
                      <span th:text="${wine.region}"></span>
                    </span>
                  </li>
                </ul>
              </div>

              <div class="content-cart clearfix">
                <form class="cart clearfix" method="post">
                  <div class="heart mg-item-ct">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> <!-- /row-->
      </div> <!-- /container -->
    </section> <!-- /main-shop-detail -->

    <!-- 사용자 맛 그래프 뷰 -->
    <div class="taste-Graph">
      <h3>Wine Taste Like</h3>
      <table class="tasteStructure">
        <tbody>
        <tr>
          <td>
            <div class="tasteStructureNm">Light</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" th:aria-valuenow="${wineDevelopCount.body}" aria-valuemin="0" aria-valuemax="5">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.body / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Bold</div>
          </td>

        </tr>
        <tr th:if="${wine.wineType == T(com.keduit.wineshare.constant.WineType).RED}">
          <td>
            <div class="tasteStructureNm">Smooth</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.tannin / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Tannic</div>
          </td>

        </tr>
        <tr th:if="${wine.wineType != T(com.keduit.wineshare.constant.WineType).SPARKLING}">
          <td>
            <div class="tasteStructureNm">Dry</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.sweetness / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Sweet</div>
          </td>

        </tr>
        <tr>
          <td>
            <div class="tasteStructureNm">Soft</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.acidity / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Acidic</div>
          </td>
        </tr>
        <tr th:if="${wine.wineType == T(com.keduit.wineshare.constant.WineType).SPARKLING}">
          <td>
            <div class="tasteStructureNm">Gentle</div>
          </td>
          <td>
            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" th:style="'left: ' + (${wineDevelopCount.fizz / 5 * 100} + '%') + ';'"></div>
            </div>

          </td>
          <td>
            <div class="tasteStructureNm">Fizzy</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- 사용자 아로마 휠, 페어링 뷰 -->
    <div class="card-container">
      <div class="aroma-container">
        <h2>Aroma Wheel</h2>
        <div class="card">
          <img class="aroma" src="https://cdn-icons-png.flaticon.com/128/1791/1791364.png" alt="aroma">
          <p th:text="${wineDevelopCount.aromaOne}">이곳은 카드 1의 내용입니다.</p>
        </div>
        <div class="card">
          <img class="aroma" src="https://cdn-icons-png.flaticon.com/128/1791/1791354.png" alt="aroma">
          <p th:text="${wineDevelopCount.aromaTwo}">이곳은 카드 2의 내용입니다.</p>
        </div>
      </div>

      <div class="food-container">
        <h2>Food Pairing</h2>
        <div class="food">
          <img class="pairing" src="https://cdn-icons-png.flaticon.com/128/1046/1046769.png" alt="pairing">
          <p th:text="${wineDevelopCount.foodOne}">이곳은 카드 1의 내용입니다.</p>
        </div>
        <div class="food">
          <img class="pairing" src="https://cdn-icons-png.flaticon.com/128/819/819827.png" alt="pairing">
          <p th:text="${wineDevelopCount.foodTwo}">이곳은 카드 2의 내용입니다.</p>
        </div>
      </div>
    </div>







    <!-- 비슷한 와인 리스트 -->
    <section class="flat-products style2" style="padding: 100px 0 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-10" style="margin: 0 auto;">
            <div class="title-section">
              <h1 class="our-product-main"><a href="#">Similar Wine</a></h1>
              <div class="our-product-image">
                <img src="/main/image/homepage14.png" alt="image">
              </div>
            </div> <!-- /title-section -->
            <div class="product-content product-fourcolumn clearfix">
              <ul class="product style2 isotope-product clearfix">
                <li class="product-item features arrivals">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage55.png" alt="image">
                    </a>
                  </div>
                  <div class="product-info text-center clearfix">
                    <span class="product-title">Laboure Chardonnay</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$19.99</span>
                      </ins>
                    </div>

                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
                <li class="product-item features sale">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage150.png" alt="image">
                    </a>
                  </div>
                  <div class="product-info clearfix">
                    <span class="product-title">Josh Cellars Cabarnet</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$29.99</span>
                        <del>$38.99</del>
                      </ins>
                    </div>

                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
                <li class="product-item features">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage57.png" alt="image">
                    </a>

                  </div>
                  <div class="product-info clearfix">
                    <span class="product-title">Dark Horse Rosé</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$38.49</span>
                      </ins>
                    </div>
                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
                <li class="product-item arrivals">
                  <div class="product-thumb clearfix">
                    <a href="#" class="product-thumb">
                      <img src="/main/image/homepage150.png" alt="image">
                    </a>
                  </div>
                  <div class="product-info clearfix">
                    <span class="product-title">Dark Hose Rosé</span>
                    <div class="price">
                      <ins>
                        <span class="amount">$38.49</span>
                      </ins>
                    </div>

                  </div>
                  <div class="product-review">

                    <div class="add-cart">
                      <a href="#" class="like2"><i class="fa fa-heart-o"></i></a>
                    </div>

                  </div>
                </li> <!-- /product-item -->
              </ul>
            </div>
          </div> <!-- /col-lg-12 -->
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section> <!-- /flat-products-->

    <!--   리뷰 공간     -->
    <section class="main-shop-detail" style="padding: 0 0 50px 0;">
      <div class="container">
        <div class="row">
          <div class="col-lg-11" >
            <div class="woocommerce-tabs wc-tabs-wrapper">
              <ul class="tabs">
                <li><a class="tab active" data-id ='#tab-description' href="#">Expert Review</a></li>
                <li><a class="tab" data-id ='#tab-reviews' href="#">User Review</a></li>
              </ul>
              <!--    전문가 리뷰      -->
              <div id="tab-description" class="tab-content">
                <div class="post-bottom-second post-bottom" >
                  <div class="review_box" th:each="develop, status : ${wineDevelopList}">
                    <div class="avatar">
                      <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                           th:class="profile_img"
                           onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className='profile_img'">

                    </div>

                    <div class="post-comment">
                      <div class="post-rating">
                        <i class="fa fa-star" aria-hidden="true"></i> <!-- 넘버시퀀스로.. 별점준만큼 th:each -->
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                      <div class="comment-title comment" th:text="${develop.memberId}"></div> <!-- 멤버아이디로 멤버이름 불러오는 메소드 js로 만들거나 에초에 멤버아이디 말고 멤버 받도록 하거나 -->
                      <div class="comment-text comment" th:text="${develop.expertComment}">

                      </div>
                    </div>
                  </div>
                </div> <!-- /post-bottom-second -->

                <!-- 페이지 네이션 -->
                <!--                  <div class="blog-pagination text-center"-->
                <!--                       th:with="start=${(wines.number / maxPage) * maxPage + 1},-->
                <!--                                        end=${(wines.totalPages == 0) ?-->
                <!--                                        1 : (start + (maxPage - 1) < wines.totalPages ?-->
                <!--                                        start + (maxPage - 1) : wines.totalPages)}">-->
                <!--                    <ul class="flat-pagination">-->
                <!--                      <li class="prev hvr-shutter-out-horizontal" th:classappend="${wines.first} ? 'disabled'">-->
                <!--                        <a th:onclick="'javascript:page(' + ${wines.number -1} + ')'" aria-label="Previous" >-->
                <!--                          <i class="fa fa-angle-left" aria-hidden="true"></i>-->
                <!--                        </a>-->
                <!--                      </li>-->
                <!--                      <li class="hvr-shutter-out-horizontal" th:each="page: ${#numbers.sequence(start, end)}">-->
                <!--                        <a th:onclick=" 'javascript:page(' + ${page - 1} + ')'" th:inline="text" >-->
                <!--                          [[${page}]]-->
                <!--                        </a>-->
                <!--                      </li>-->
                <!--                      <li class="next hvr-shutter-out-horizontal" th:classappend="${wines.last} ? 'disabled'">-->
                <!--                        <a th:onclick="'javascript:page(' + ${wines.number + 1} + ')'" aria-label="Next" >-->
                <!--                          <i class="fa fa-angle-right" aria-hidden="true"></i>-->
                <!--                        </a>-->
                <!--                      </li>-->
                <!--                    </ul>-->
                <!--                  </div>-->

                <div class="comment-respond">
                  <form class="comment-form">
                    <!-- 전문가 맛 그래프 입력 폼 -->
                    <p>Add Review</p>
                    <div class="pro-taste">
                      <div class="taste-like">
                        <div class="taste-category">
                          <h3>Body</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>

                        </div>

                        <div class="taste-category" th:if="${wine.wineType == T(com.keduit.wineshare.constant.WineType).RED}">
                          <h3>Tannin</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category" th:if="${wine.wineType != T(com.keduit.wineshare.constant.WineType).SPARKLING}">
                          <h3>Sweetness</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category">
                          <h3>Acidity</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>

                        <div class="taste-category" th:if="${wine.wineType == T(com.keduit.wineshare.constant.WineType).SPARKLING}">
                          <h3>Fizz</h3>
                          <select class="select-option">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>

                    </div>



                    <!-- 전문가 아로마 휠, 페어링 입력 폼 -->

                    <div class="pro-taste">
                      <div class="taste-like">

                      <!--   아로마 휠 & 푸드 페어링       -->
                        <div class="taste-category">
                        <h3>Aroma1</h3>
                        <select>
                          <option value="Citrus">Citrus</option>
                          <option value="TreeFruit">TreeFruit</option>
                          <option value="StoneFruit">StoneFruit</option>
                          <option value="TropicalFruit">TropicalFruit</option>
                          <option value="Berry">Berry</option>
                          <option value="Floral">Floral</option>
                          <option value="Herb">Herb</option>
                          <option value="Vegetable">Vegetable</option>
                          <option value="Fermented">Fermented</option>
                          <option value="Roasted">Roasted</option>
                          <option value="Spice">Spice</option>
                          <option value="Nuts">Nuts</option>
                          <option value="Tree">Tree</option>
                          <option value="Sugar">Sugar</option>
                          <option value="Fungi">Fungi</option>
                        </select>
                      </div>

                        <div class="taste-category">
                        <h3>Aroma2</h3>
                        <select>
                          <option value="Citrus">Citrus</option>
                          <option value="TreeFruit">TreeFruit</option>
                          <option value="StoneFruit">StoneFruit</option>
                          <option value="TropicalFruit">TropicalFruit</option>
                          <option value="Berry">Berry</option>
                          <option value="Floral">Floral</option>
                          <option value="Herb">Herb</option>
                          <option value="Vegetable">Vegetable</option>
                          <option value="Fermented">Fermented</option>
                          <option value="Roasted">Roasted</option>
                          <option value="Spice">Spice</option>
                          <option value="Nuts">Nuts</option>
                          <option value="Tree">Tree</option>
                          <option value="Sugar">Sugar</option>
                          <option value="Fungi">Fungi</option>
                        </select>
                      </div>

                        <div class="taste-category">
                        <h3>Paring1</h3>
                        <select>
                          <option value="Beef">Beef</option>
                          <option value="Chicken">Chicken</option>
                          <option value="Pork">Pork</option>
                          <option value="Mushroom">Mushroom</option>
                          <option value="Charcuterie">Charcuterie</option>
                          <option value="Cheese">Cheese</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Spicy">Spicy</option>
                          <option value="Snack">Snack</option>
                          <option value="Shell">Shell</option>
                          <option value="Fish">Fish</option>
                          <option value="Vegetable">Vegetable</option>
                        </select>
                      </div>

                        <div class="taste-category">
                        <h3>Paring2</h3>
                        <select>
                          <option value="Beef">Beef</option>
                          <option value="Chicken">Chicken</option>
                          <option value="Pork">Pork</option>
                          <option value="Mushroom">Mushroom</option>
                          <option value="Charcuterie">Charcuterie</option>
                          <option value="Cheese">Cheese</option>
                          <option value="Pasta">Pasta</option>
                          <option value="Spicy">Spicy</option>
                          <option value="Snack">Snack</option>
                          <option value="Shell">Shell</option>
                          <option value="Fish">Fish</option>
                          <option value="Vegetable">Vegetable</option>
                        </select>
                      </div>
                      </div>
                    </div>


                    <div class="clearfix"></div>
                    <p class="your-rating">Rating</p>
                    <div class="my-rating">
                      <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                      <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                    </div>
                    <p class="comment-form-comment">
                      <!-- <label>Comment</label>  -->
                      <textarea  name="comment" placeholder="Comment" required="required"></textarea>
                    </p>
                    <p class="submit-form">
                      <button name="submit" type="submit"  class="submit btn btn-styl hvr-shutter-out-horizontal" >SUBMIT</button>
                    </p>
                  </form>
                </div>  <!-- /comment-respond -->
              </div>
              <!--    사용자 리뷰      -->
              <div id="tab-reviews" class="tab-content">
                <div id="reviews" class="woocommerce-Reviews">
                  <div class="post-bottom-second post-bottom">
                    <div class="avatar">
                      <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' || wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                           th:class="profile_img"
                           onerror="this.onerror=null; this.src='/image/wineDefault.png'; this.className='profile_img'">
                      <div class="post-rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="post-comment">
                      <div class="comment-meta comment"><a href="#"> May 28, 2018</a></div>
                      <div class="comment-title comment"><a href="#">Brandon Kelley</a></div>
                      <div class="comment-text comment">
                        <a href="#">Vasse Felix chief executive, Paul Holmes a Court said no plans have yet been made for the buildings on the property</a>
                      </div>
                    </div>
                  </div> <!-- /post-bottom-second -->

                  <!-- 페이지 네이션 -->
<!--                  <div class="blog-pagination text-center"-->
<!--                       th:with="start=${(wines.number / maxPage) * maxPage + 1},-->
<!--                                        end=${(wines.totalPages == 0) ?-->
<!--                                        1 : (start + (maxPage - 1) < wines.totalPages ?-->
<!--                                        start + (maxPage - 1) : wines.totalPages)}">-->
<!--                    <ul class="flat-pagination">-->
<!--                      <li class="prev hvr-shutter-out-horizontal" th:classappend="${wines.first} ? 'disabled'">-->
<!--                        <a th:onclick="'javascript:page(' + ${wines.number -1} + ')'" aria-label="Previous" >-->
<!--                          <i class="fa fa-angle-left" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li class="hvr-shutter-out-horizontal" th:each="page: ${#numbers.sequence(start, end)}">-->
<!--                        <a th:onclick=" 'javascript:page(' + ${page - 1} + ')'" th:inline="text" >-->
<!--                          [[${page}]]-->
<!--                        </a>-->
<!--                      </li>-->
<!--                      <li class="next hvr-shutter-out-horizontal" th:classappend="${wines.last} ? 'disabled'">-->
<!--                        <a th:onclick="'javascript:page(' + ${wines.number + 1} + ')'" aria-label="Next" >-->
<!--                          <i class="fa fa-angle-right" aria-hidden="true"></i>-->
<!--                        </a>-->
<!--                      </li>-->
<!--                    </ul>-->
<!--                  </div>-->


                  <div class="comment-respond">
                    <form class="comment-form">
                      <p>Add Review</p>

                      <div class="clearfix"></div>
                      <p class="your-rating">Rating</p>
                      <div class="my-rating">
                        <i class="fa fa-star" aria-hidden="true" data-value="1"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="2"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="3"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="4"></i>
                        <i class="fa fa-star" aria-hidden="true" data-value="5"></i>
                      </div>
                      <p class="comment-form-comment">
                        <!-- <label>Comment</label>  -->
                        <textarea  name="comment" placeholder="Comment" required="required"></textarea>
                      </p>
                      <p class="submit-form">
                        <button name="submit" type="submit"  class="submit btn btn-styl hvr-shutter-out-horizontal" >SUBMIT</button>
                      </p>
                    </form>
                  </div>  <!-- /comment-respond -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>


</div>
</html>