<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 사용자 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/wine-list.css}">
    <style>
        .heart.mg-item-ct.active {
            background-color: #c02323 !important;
        }
        .fa.fa-heart {
            color: #c02323 !important;
        }
        .heart.mg-item-ct:hover .fa.fa-heart{
            color: white !important;
        }
        .fa.fa-heart.active {
            color: white !important;
        }
    </style>
</th:block>

<!--/* 사용자 스크립트 추가 */-->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function() {


            $('#sortBy').change(function (){
                page(0);
            });

            $('#searchWineType').change(function () {
               page(0);
            });

        });

        // 페이지네이션 클릭 시 페이지 이동
        function page(page) {
            // th:field 는 value, name, id 를 모두 대체함 id(#)으로 호출 가능
            const searchWineType = $('#searchWineType').val();
            const sortBy = $('#sortBy').val();
            const searchType = $('#searchType').val();
            const searchQuery = $('#searchQuery').val();
            // 슬라이더에서 설정된 가격범위
            const minPrice = $("#slide-range").slider("values", 0); // 슬라이더의 최소값
            const maxPrice = $("#slide-range").slider("values", 1); // 슬라이더의 최대값

            $.ajax({
                url: `/wines/list/json/${page}`,
                type: 'GET',
                data: {
                    minPrice: minPrice,
                    maxPrice: maxPrice,
                    searchWineType: searchWineType,
                    sortBy: sortBy,
                    searchType: searchType,
                    searchQuery: searchQuery
                },
                success: function (response) {
                    const wineListContainer = $('#wineListContainer');
                    wineListContainer.empty();

                    response.wines.forEach(function (wine, index) {
                        const formattedPrice = wine.price == null || wine.price === 0 ? '가격정보없음' : new Intl.NumberFormat('ko-KR', { style: 'currency', currency: 'KRW' }).format(wine.price);
                        const isInCellar = response.isInCellar[index];
                        const wineItem = `
                        <li class="product-item features arrivals">
                            <div class="product-thumb clearfix">
                                <a href="/wines/wine/${wine.id}" class="product-thumb">
                                    <img src="${wine.wineImg === 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
                                                wine.wineImg === 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
                                                wine.wineImg === 'https://images.vivino.com/highlights/icon/top_ranked.svg'
                                                ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                                                         class="wine_image"
                                                         onerror="this.onerror=null; this.src='/image/wineDefault.png';">
                                </a>
                            </div>
                            <div class="product-info text-center clearfix">
                                <div class="price">
                                    <ins>
                                        <span class="amount">${formattedPrice}</span>
                                    </ins>
                                </div>
                                <span class="product-title">${wine.wineName}</span>
                            </div>
                            <div class="product-review">
                                <div class="add-cart heart">
                                    <a class="heart mg-item-ct ${isInCellar ? 'active' : ''}" onclick="addCellar(this)" data-wine-id="${wine.id}">
                                        <i class="fa fa-heart ${isInCellar ? 'active' : ''}" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                        `;
                        wineListContainer.append(wineItem);
                    });
                    updatePagination(response.currentPage, response.totalPages);
                },
                error: function (err) {
                    console.error('Error fetching data:', err);
                }
            });
        }


        function updatePagination(currentPage, totalPages) {
            const paginationContainer = $('.flat-pagination');
            paginationContainer.empty(); // 기존 페이지네이션 비우기

            // 이전 버튼
            const prevDisabled = currentPage === 0 ? 'disabled' : '';
            paginationContainer.append(`
        <li class="prev hvr-shutter-out-horizontal ${prevDisabled}">
            <a ${prevDisabled ? '' : 'onclick="page(' + (currentPage - 1) + ')"'} aria-label="Previous">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
        </li>
    `);

            // maxPage를 정의합니다. (예: 5)
            const maxPage = 5;

            // 페이지 번호 계산
            let start = Math.floor(currentPage / maxPage) * maxPage; // 현재 페이지 기준으로 시작
            let end = Math.min(start + maxPage, totalPages); // 최대 maxPage 개수 표시

            // 페이지 번호 추가
            for (let i = start; i < end; i++) {
                const activeClass = i === currentPage ? 'page-active' : '';
                paginationContainer.append(`
            <li class="hvr-shutter-out-horizontal ${activeClass}">
                <a onclick="page(${i})" aria-label="Page">${i + 1}</a>
            </li>
        `);
            }

            // 다음 버튼
            const nextDisabled = (currentPage === totalPages -1 || totalPages === 0) ? 'disabled' : '';
            paginationContainer.append(`
        <li class="next hvr-shutter-out-horizontal ${nextDisabled}">
            <a ${nextDisabled ? '' : 'onclick="page(' + (currentPage + 1) + ')"'} aria-label="Next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
        </li>
    `);
        }

        function addCellar(element) {
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            const wineId = $(element).data('wine-id');
            console.log(wineId);
            const url = "/cellars";
            const paramData = {
                wineId: wineId
            };
            const param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token)
                },
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert('셀러에 추가되었습니다.');
                    $(element).addClass('active')
                    $(element).find('i').addClass('active');
                },
                error: function (xhr, status, error) {
                    if (xhr.status == '401') {
                        alert('로그인 후 이용하세요.');
                        location.href = '/members/login';
                    } else {
                        alert(xhr.responseText);
                    }
                }
            });
        }



    </script>
</th:block>

<div layout:fragment="content" >
    <form th:action="@{'/wines/list/' + ${wines.number}}" role="form" method="get" th:object="${wines}">

        <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
        <div class="page-title parallax parallax1">
            <div class="container">
                <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a>Home</a></li>
                            <li class="blog"><a>Wines</a></li>
                        </ul>
                    </div>
                    <div class="page-title-heading">
                        <h2 class="title"><a>WINES</a></h2>
                    </div>
                </div>
            </div>
        </div> <!-- /.page-title -->
        <div id="loading-overlay">
            <div class="loader"></div>
        </div> <!-- /.loading-overlay -->


        <div th:object="${wineSearchDTO}">
            <!-- 필터 레인지 바 -->
            <div class="sidebar-inner clearfix">
                <div class="widget widget-filter">
                    <div class="type-filter input-box">
                        <h5>Type</h5>
                        <select th:field="*{searchWineType}" >
                            <option value="">ALL</option>
                            <option value="RED">RED</option>
                            <option value="WHITE">WHITE</option>
                            <option value="SPARKLING">SPARKLING</option>
                            <option value="ROSE">ROSE</option>
                            <option value="DESSERT">DESSERT</option>
                            <option value="PORT">PORT</option>
                        </select>
                    </div>
                    <!-- 정렬용 셀렉트바 -->
                    <div class="sort-filter input-box">
                        <h5>정렬기준</h5>
                        <select th:field="*{sortBy}" >
                            <option value="">최신 등록 순</option>
                            <option value="priceDesc">가격 높은 순</option>
                            <option value="priceAsc">가격 낮은 순</option>
                            <option value="ratingDesc">평점 높은 순</option>
                            <option value="ratingAsc">평점 낮은 순</option>
                            <option value="cellarDesc">인기 많은 순</option>
                        </select>
                    </div>
                    <div class="text-title">
                        <h2 class="widget-title text-center">Price Range</h2>
                    </div>
                    <div class="price-filter clearfix">
                        <div id="slide-range"></div>
                        <p class="amount">
                            Price: <span id="amount"></span>
                        </p>
                    </div>
                    <!-- 정렬용 셀렉트바 -->
                    <div class="search-filter input-box">
                        <h5>검색기준</h5>
                        <select th:field="*{searchType}" >
                            <option value="">전체 검색</option>
                            <option value="N">와인명 검색</option>
                            <option value="C">생산국 검색</option>
                        </select>
                    </div>
                    <div  class="input-box search-box">
                        <h5>검색어</h5>
                        <input type="text" th:field="*{searchQuery}" placeholder="search...">
                    </div>
                    <div class="search-icon">
                        <h5> </h5>
                        <i class="fa fa-search" aria-hidden="true" onclick="page(0)"></i>
                    </div>

                </div>
            </div>

        </div>



        <div class="main-shop-fullwidth-grid" >
            <div class="container">

                <section class="flat-products style3" style="margin:-50px auto 0 auto;">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="product-content product-fourcolumn clearfix">

                                    <ul class="product style2 isotope-product clearfix" id="wineListContainer" >
                                        <li class="product-item features arrivals" th:each="wine, status : ${wines}" >
                                            <div class="product-thumb clearfix">
                                                <a th:href="@{'/wines/wine/' + ${wine.id}}" class="product-thumb">
                                                    <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
                                                    wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
                                                    wine.wineImg == 'https://images.vivino.com/highlights/icon/top_ranked.svg'
                                                    ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                                                         th:class="wine_image"
                                                         onerror="this.onerror=null; this.src='/image/wineDefault.png';">
                                                </a>
                                            </div>
                                            <div class="product-info text-center clearfix">
                                                <div class="price">
                                                    <ins>
                                                        <span class="amount" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : #numbers.formatCurrency(wine.price)}">와인 가격</span>
                                                    </ins>
                                                </div>
                                                <span class="product-title" th:text="${wine.wineName}">와인 이름</span>
                                            </div>
                                            <div class="product-review">
                                                <div class="add-cart heart">
                                                    <a class="heart mg-item-ct" onclick="addCellar(this)" th:data-wine-id="${wine.id}" th:classappend="${isInCellarList[status.index]} ? 'active' : ''">
                                                        <i class="fa fa-heart" aria-hidden="true" th:classappend="${isInCellarList[status.index]} ? 'active' : ''"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </li> <!-- /product-item -->
                                    </ul>

                                </div>
                            </div> <!-- /col-lg-12 -->
                            <!-- 페이지네이션 -->
                            <div class="blog-pagination text-center"
                                 th:with="start=${(wines.number / maxPage) * maxPage + 1},
                                        end=${(wines.totalPages == 0) ?
                                        1 : (start + (maxPage - 1) < wines.totalPages ?
                                        start + (maxPage - 1) : wines.totalPages)}">
                                <ul class="flat-pagination">
                                    <li class="prev hvr-shutter-out-horizontal" th:classappend="${wines.first} ? 'disabled'">
                                        <a th:onclick="'javascript:page(' + ${wines.number -1} + ')'" aria-label="Previous" >
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="hvr-shutter-out-horizontal" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${page == wines.number + 1} ? 'page-active' : ''">
                                        <a th:onclick=" 'javascript:page(' + ${page - 1} + ')'" th:inline="text" >
                                            [[${page}]]
                                        </a>
                                    </li>
                                    <li class="next hvr-shutter-out-horizontal" th:classappend="${wines.last} ? 'disabled'">
                                        <a th:onclick="'javascript:page(' + ${wines.number + 1} + ')'" aria-label="Next" >
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div> <!-- /row -->
                    </div> <!-- /container-->
                </section>
            </div> <!-- / main-shop-fullwidth-grid -->
        </div>
    </form>
</div>
</html>
