.about-all{
    width:100%;
    margin: 0 auto;
    margin-top:1%;
    margin-bottom:1%;
}

.flat-about-us{
    position:relative;
}
.content-about{

    position:absolute;
    left:5%;
    top:20%;
}

.heading-about{
    position:absolute;
    left:5%;
    top:6%;
}

.wheel-about{
    position:relative;
}

.aroma-img{
    width:500px;
    height:500px;
    float:left;
}

.aroma-txt{
    width:50%;
    position:absolute;
    right:3%;
    top:50px;
}

.flat-team{
    background-image: url(../image/homepage114.png);
}

.our-txt{
    margin: 0 auto;
    text-align:center;
}

.our-txt li{
    margin: 20px 0;

}
