.smile {
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}


a {
    text-decoration: none;
    color: inherit;
}


.board_wrap {
     width:80%;
     border: 1px solid #e5e5e5;
     margin: 0 auto;
     margin-top: 1%;
     margin-bottom: 3%;
     padding: 20px;
    position:relative;
}
.banner-img {
    border: 1px solid #e5e5e5;
    background-size: cover;
    height:300px;
    width:100%;
    margin-bottom: 30px;
    background-repeat : no-repeat;
}

.upgrade-img{
    background-image: url('/wineshare-img/banner2.jpeg');
}

.question-img{
   background-image: url('/wineshare-img/banner3.jpeg');
}

.request-img{
    background-image: url('/wineshare-img/banner4.jpeg');
 }


.board_title{
    color: #FFFFFF;
    font-size: 3rem;
    position:absolute;
    top:8%;
    left:5%;
}

.board_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}
.bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;

}

.bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    font-size: 1.4rem;
}
.bt_wrap a:first-child {
    margin-left: 0;
}
.bt_wrap a.on {
    background: #c02323;
    color: white;
}
.board_list {
    width: 100%;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 3%;
}
.board_list > div {
    border-bottom: 1px solid #ddd;
    font-size: 0;
}

/* .board_list >div.top {       이게 왜 필요한건지...
    border-bottom: 1px solid #999;
}
.board_list >div:last-child {
    border-bottom:1px solid black;
} */

.board_list >div >div {
    display: inline-block;
    padding: 15px 0;
    text-align: center;
    font-size: 1.4rem;
}
.board_list >div.top > div {
    font-weight: 600;
}

.board_list .title{
    width: 60%;
    text-align: left;
}
.board_list .top.title {
    text-align: center;
}
.board_list .writer {
    width: 10%;
}
.board_list .date {
    float:right;
    width: 10%;
}

.board_page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    vertical-align: middle;
    border: 1px solid #e5e5e5;
    line-height: 100%;
}
.board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 9px;
    font-size: 1.4rem;
}
.board_page a.num.on {
    border-color: #e5e5e5;
    background: #c02323;
    color: #fff;

}
.board_page a :first-child{
    border-left:1px solid #ddd;
}
.form-group{
    height: 100px;
    position: relative;

}

.form-list-type{
    width:7%;
    padding: 0.2rem 0.75rem;
    position: absolute;
    left:0.5%;
    bottom: -10%;
}

.form-group-search{
    width:15%;
    display:flex;
    position: absolute;
    left: 9%;
    bottom: -10%;
}


.regbutton{

    font-size: 14px;
    color: #c02323;
    border: 1px solid #c02323;
    font-size: 16px;
    background: #c02323;
    color: #e5e5e5;
    padding: 14px 30px;
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius:5px;
}
.search-btn{
    height:45px;
    padding: 7px 15px;
    border-radius:5px;
    background: #e5e5e5;
    color: #191919;
}





