

.board-table{
    width:100%;
    border: 1px solid #e5e5e5;
     margin: 0 auto;
     margin-top:5%;
}
.board-content {
    min-height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
    white-space: pre-wrap;

}
.board-img {
    max-height: 30vh;
}

th, td{
    border: 1px solid #e5e5e5;
    padding: 15px;
}

th{
    width:90px;
    text-align: center;
    background: #e5e5e5;
}


.board-form{
    width:70%;
    position:relative;
}
.btn-box {
    text-align: right;
}
.board-modify-btn {
    padding: 10px 25px;
    background: #c02323;
    color: #e5e5e5;
    border-radius: 5px;
}
.board-delete-btn {
    padding: 10px 25px;
    background: #595959;
    color: #e5e5e5;
    border-radius: 5px;
}

.reply-all{
    border: 1px solid #e5e5e5;


}

.reply-submit{
    border: 1px solid #c02323;
    border-radius:5px;
    color: #c02323;
    padding: 10px 25px;
    float:right;
}



.admin-agree{
    border: 1px solid #c02323;
    border-radius:5px;
    color: #FFFFFF;
    padding: 10px 25px;
    background: #c02323;
    position:absolute;
    right:2%;
    top:3%;
}

.fieldError {
    color: #bd2130;
}
.profile_img{
    width: 50px;
    height: 50px;
}

.reply_box{
    margin: 60px auto;
}

.display-none{
    display: none;
}

.comment-actions {
    margin-top: 5px;
    margin-left: -5px;
}
.comment-actions button {
    font-size: 0.9em;
    color: #aaa;
}

.reply-content {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 70px auto;
}
