.login-form-container{
    width:40%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 100px 20px;
}

.login-header{
    position: absolute;
    top: 10px;
}

.login-button{
    position: absolute;
    right: 2%;
    bottom: 10px;
    font-size: 14px;
    color: #FFFFFF;
    border: 1px solid #c02323;
    padding: 7px 35px;
    background: #c02323;
    border-radius:5px;
}

.login-footer{
    position:absolute;
    bottom: 10px;

}


/*  회원가입 폼 css  */

.account-container{
    width:50%;
     margin: 0 auto;
        margin-top: 3%;
        margin-bottom: 5%;
        position: relative;
        border: 1px solid #e5e5e5;
        padding: 130px 20px;
}

.login-form{
    padding-bottom: 70px;
}

.account-header{
    position:absolute;
    top:20px;
}

.rrn-group{
    width: 53%;
    display: flex;

}

.phone-group{
    display:flex;
    width:100%;


}

.form-group-phone{
    width:50%;
    position:absolute;

}

.login-reset{
    border: 1px solid #e5e5e5;
    bottom: 10px;
    font-size: 14px;
    padding: 7px 35px;
    position:absolute;
    right:21%;
    background: #e5e5e5;
    color: #191919;
    border-radius:5px;
}

.rrn{
    width:100%;
    display: flex;
}

.fieldError{
  color: #bd2130;
  }



/* 약관동의 css */

.terms_sec{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #e5e5e5;
    margin-top:3%;
    margin-bottom: 5%;
    padding: 10px;
}

.terms_box{
    padding: 15px;
}

.agree .main_title{
  width: 122px;
  height: 41px;
  margin: 10px auto;
}

.txt_box{
    border: 1px solid #c02323;
      border-radius: 15px;
      font-size: 16px;
      overflow: hidden;
      overflow: auto;
      height: 250px;
      padding: 10px;
}

.terms_list{
    grid-template-columns: repeat(1,600px);
      justify-content: center;
      list-style: none;
      padding: 20px 0 30px 0;
}

.btn_area{
    float: right;
}

p {
    margin: 10px 0; /* 위아래 10px 간격 */
}

label{
    font-weight:bold;
    margin-top:5px;
}

/* 회원 정보 수정 */
.mem-out{
     border: 1px solid #000000;
        bottom: 10px;
        font-size: 14px;
        color: #FFFFFF;
        padding: 7px 13px;
        position:absolute;
        left:2%;
        background: #000000;
        border-radius:5px;
}

.pass-btn{
    border: 1px solid #E1B848;
    bottom: 27.5%;
    font-size: 20px;
    color: #FFFFFF;
    padding: 7px 65px;
    position:absolute;
    right:2%;
    background: #E1B848;
    border-radius:5px;
}

/* 비번 변경 및 회원 탈퇴 */

.modify-all{
    width:50%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    position: relative;
    border: 1px solid #e5e5e5;
    padding: 130px 20px;
    border-radius:5px;
}

.modify-header{
    position:absolute;
    top:5%;
}

