.marketlist-container{
    border: 1px solid #FFFFFF;
    /*border-style:none;*/
    margin: 0 auto;
    margin-top:2%;
    margin-bottom:2%;

}

.search-sort{
   position: relative;
}

.marketing-sort{
    width:10%;
    text-align: center;
    float:right;
}

.marketing-sort h5{
    padding: 5px;
}


.data-search{
    position: absolute;
    left:12%;

}

.data-btn{
   font-size:10px;
   color:#595959;
   position: absolute;
    left:100%;
   top:0px;
   border: 1px solid #e5e5e5;
   border-radius:5px;
   padding: 7px 15px;
   height:46px;
}

.market-reg{
    padding: 13px 30px;
    border: 1px solid #c02323;
    border-radius:5px;
    position: absolute;
    right:5%;
}

.marketing_list_wrap{
    width:100%;
    border: 1px solid #FFFFFF;
    position:relative;
    box-shadow: 0 1px 1px 0 rgba(59, 59, 59, 0.1);

}

.featured-post{
    width: 50%;
    height:100%;
    padding:0;
    margin: 0;
}

.market-img{
    width:100%;
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    translate : -50% -50%;
}

.market-pro-post-content{
    font-size:15px;
    color:#c02323 !important;
    height:28px;
    overflow:hidden;
    width:45%;
    position:absolute;
    top:15%;
    right:0;
    border-style:none;
}

.market-post-title{
    font-size:30px;
    line-height: 30px;
    font-weight:bold;
    width:45%;
    position:absolute;
    top:23%;
    right:0;
    border-style:none;
}

.market-post-name{

    color:#a6a6a6;
    opacity: 0.5;
    width:45%;
    position:absolute;
    top: 43%;
    right:0;
    border-style:none;
}

.market-post-content{
    height:100px;
    width:45%;
    overflow: hidden;
    white-space: pre-wrap;
    position:absolute;
    top:50%;
    right:0;
    border-style:none;
}


.post-submit{

    position:absolute;
    bottom:5%;
    right:5%;
    border-style:none;

}

.article-container{
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 35vh 35vh 35vh;
    gap:20px 20px;
    justify-content: center;
    margin-top:7%;
    margin-bottom: 10%;
}

.data-type{
    width:7%;
    position: absolute;
    left:4.5%;
}

.market-modify-btn{
    border: 1px solid #c02323;
    padding: 3px 10px;
    border-radius:5px;
    color:#595959;
    position: absolute;
    left:55%;
}

