.marketlist-container{
    border: 1px solid #FFFFFF;
    /*border-style:none;*/
    margin: 0 auto;
    margin-top:2%;
    margin-bottom:2%;

}

.search-sort{
   position: relative;
}

.marketing-sort{
    width:10%;
    text-align: center;
    float:right;
}

.marketing-sort h5{
    padding: 5px;
}


.data-search{
    position: absolute;
    left:12%;

}

.data-btn{
   font-size:10px;
   color:#595959;
   position: absolute;
    left:100%;
   top:0px;
   border: 1px solid #e5e5e5;
   border-radius:5px;
   padding: 7px 15px;
   height:46px;
}

.market-reg{
    padding: 13px 30px;
    border: 1px solid #c02323;
    border-radius:5px;
    position: absolute;
    right:5%;
}

.marketing_list_wrap{
    width:100%;
    border: 1px solid #FFFFFF;
    position:relative;

}

.featured-post{
    width: 50%;
    height:100%;
    padding:0;
    margin: 0;
}

.market-img{
    width:100%;
    object-fit: cover;
    position: relative;
    top: 50%;
    left: 50%;
    translate : -50% -50%;
}

.market-pro-post-content{
    font-size:15px;
    color:#c02323;
    height:28px;
    overflow:hidden;
    border: 1px solid #000000;
    width:45%;
    position:absolute;
    top:10%;
    right:0px;
    border-style:none;
}

.market-post-title{
    font-size:30px;
    border: 1px solid #000000;
    font-weight:bold;
    width:45%;
    position:absolute;
    top:23%;
    right:0px;
    border-style:none;
}

.market-post-name{
    border: 1px solid #000000;
    color:#a6a6a6;
    width:45%;
    position:absolute;
    top:35%;
    right:0px;
    border-style:none;
}

.market-post-content{
    border: 1px solid #000000;
    height:85px;
    width:45%;
    overflow:hidden;
    position:absolute;
    top:50%;
    right:0px;
    border-style:none;
}


.post-submit{
    border: 1px solid #000000;
    position:absolute;
    bottom:5%;
    right:5%;
    border-style:none;

}

.article-container{
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 35vh 35vh 35vh;
    gap:20px 20px;
    justify-content: center;
    margin-top:7%;
    margin-bottom: 10%;
}

.data-type{
    width:7%;
    position: absolute;
    left:4.5%;
}

.market-modify-btn{
    border: 1px solid #c02323;
    padding: 3px 10px;
    border-radius:5px;
    color:#595959;
    position: absolute;
    left:55%;
}

