
/* 필터영역 */
.widget.widget-filter{
    width:80%;
    padding: 15px;
    margin: 30px auto;
    height: 150px;
    border: 1px solid #e5e5e5;
    position:relative;
}

/* 프라이스레인지 글씨 */
.widget.widget-filter h2{
    position:absolute;
    padding: 0 15px;
    top:20px;
    left:50%;
    transform: translateX(-50%);
    font-size: 24px;
}

/* 레인지바 */
.widget.widget-filter .ui-slider-horizontal {
    margin-top: 60px;
    left:50%;
    transform: translateX(-50%);
    width: 30%;
    height: 2px;
    background-color: #e1e1e1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

.widget-filter .ui-slider .ui-slider-range {
    position: absolute;
    top: -1px;
    z-index: 1;
    display: block;
    height: 100%;
}

.widget-filter .ui-slider .ui-slider-handle {
    height: 9px;
    width: 9px;
    cursor: pointer;
    position: absolute;
    z-index: 0;
    top: -5px;
    outline: 0;
    border: unset;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    background-color: #c02323;
}

.widget-filter .ui-slider .ui-slider-handle span.shadow {
    display: none;
}

.widget-filter .ui-slider .ui-slider-handle span.shadow.dow {
    width: 200%;
    height: 200%;
    display: block;
    position: relative;
    top: -1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.widget-filter .price_slider_amount {
    margin: 0;
    margin-top: -19px;
}

.widget-filter .price_slider_amount .price_label {
    float: right;
    margin-top: -12px;
}

.widget-filter .price_slider_amount .price_label input {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 27px;
}

.widget-filter .flat-button {
    padding: 9px 30px 9px;
}

.widget-filter .flat-button {
    display: inline-block;
    background: #fff;
    color: #c02323;
    border: 1px solid #c02323;
}

.widget-filter .flat-button:hover {
    background-color: #c02323;
    color: #fff;
}



/* 가격 변화하는 글씨 */
.widget-filter p.amount {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.widget-filter h5 {
    padding: 10px;
    text-align: center;
}
.widget-filter .input-box{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    width:12%;
}
.sort-filter {
    left: 19%;
}
.type-filter {
    left: 5%;
}
.search-box {
    right: 5%;
}
.search-filter {
    right: 19%;
}
.search-icon {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 1%;
    width: 3%;
}
.search-icon i {
    font-size: 16px;
}

.wine_image {
    width: auto;
    height: 300px;
}




