<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <style>
        .main-wine-img {
            height: 150px;
            position: absolute;
            left: 50%;
            translate: -50%;
        }

        .featured-post {
            width: 200px;
            height: 200px;
            position: relative;
            border: 0 !important;
        }

        .post-border {
            height: 200px;
        }

        .content-post {
            padding: 30px 20px 0 0 !important;
        }
        .flat-next a{
            position: relative;
            display: inline-block;
        }

        .flat-latest .latest-title h3 a {
            pointer-events: none;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <div id="loading-overlay">
        <div class="loader"></div>
    </div> <!-- /.loading-overlay -->
    <div class="flat-slider style1">
        <!-- SLIDER -->
        <div class="rev_slider_wrapper fullwidthbanner-container" >
            <div id="rev-slider1" class="rev_slider fullwidthabanner">
                <ul>
                    <!-- Slide 1 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img th:src="@{/image/mainImg.jpg}" alt="mainImg" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->
                        <div class="tp-caption tp-resizeme text-ffb922 font-rubik font-weight-500 wellcome"
                             data-x="['left','left','left','center']" data-hoffset="['2','4','4','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-132','-118','-98','-78']"
                             data-fontsize="['36','20','20','16']"
                             data-lineheight="['48','48','28','14']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-paddingleft= "['3','3','3','3']"
                             data-responsive_offset="on">Welcome to Wine Share</div>

                        <div class="tp-caption tp-resizeme font-rubik font-weight-700 best"
                             data-x="['left','left','left','center']" data-hoffset="['-4','-4','-4','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-50','-40']"
                             data-fontsize="['72','60','40','32']"
                             data-lineheight="['80','80','45','35']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">Best Of Wine Site</div>

                        <div class="tp-caption tp-resizeme text-white font-rubik font-weight-400 text-wizym"
                             data-x="['left','left','left','center']" data-hoffset="['0','-2','-2','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['27','27','27','17']"
                             data-fontsize="['18','18','16','14']"
                             data-lineheight="['32','32','26','22']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-paddingright="['550','155','50','2']" >이곳에선 다양한 와인 정보와 전문가의 의견을 접할 수 있고,<br> 다른 사람들과의 경험을 공유할 수 있습니다</div>

                        <div class="tp-caption"
                             data-x="['left','left','left','center']" data-hoffset="['0','-4','-4','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['102','102','92','70']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-paddingtop= "['50','50','50','50']"
                             data-paddingbottom= "['50','50','50','50']"> <a th:href="@{'/about/aboutUs'}" class="btn btn-styl button-project">READ MORE</a></div>
                    </li><!-- /End Slide 1 -->

                    <!-- Slide 2 -->
                    <li data-transition="random">
                        <!-- Main Image -->
                        <img th:src="@{/image/mainImg3.jpg}" alt="" data-bgposition="center center" data-no-retina>
                        <div class="overlay"></div>

                        <!-- Layers -->
                        <div class="tp-caption tp-resizeme text-ffb922 font-rubik font-weight-500 wellcome"
                             data-x="['left','left','left','center']" data-hoffset="['2','4','4','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-132','-118','-98','-78']"
                             data-fontsize="['36','20','20','16']"
                             data-lineheight="['48','48','28','14']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="700"
                             data-splitin="none"
                             data-splitout="none"
                             data-paddingleft= "['3','3','3','3']"
                             data-responsive_offset="on">Welcome to Wine Share  </div>

                        <div class="tp-caption tp-resizeme font-rubik font-weight-700 best"
                             data-x="['left','left','left','center']" data-hoffset="['-4','-4','-4','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['-60','-60','-50','-40']"
                             data-fontsize="['72','60','40','32']"
                             data-lineheight="['80','80','45','35']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on">Best Of Wine Site</div>

                        <div class="tp-caption tp-resizeme text-white font-rubik font-weight-400 text-wizym"
                             data-x="['left','left','left','center']" data-hoffset="['0','-2','-2','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['27','27','27','17']"
                             data-fontsize="['18','18','16','14']"
                             data-lineheight="['32','32','26','22']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-paddingright="['550','155','50','2']" >다양한 프로모션과 특별한 행사들을 경험해보세요</div>

                        <div class="tp-caption"
                             data-x="['left','left','left','center']" data-hoffset="['0','-4','-4','0']"
                             data-y="['middle','middle','middle','middle']" data-voffset="['102','102','92','70']"
                             data-width="full"
                             data-height="none"
                             data-whitespace="normal"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];"
                             data-mask_out="x:inherit;y:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             data-paddingtop= "['50','50','50','50']"
                             data-paddingbottom= "['50','50','50','50']"> <a th:href="@{'/marketings/list/promotion'}" class="btn btn-styl button-project">READ MORE</a></div>
                    </li><!-- /End Slide 2 -->
                </ul>
            </div>
        </div>
    </div> <!-- /.flat-slider -->

    <div class="main-homepage-1">



        <section class="flat-products style1 straight ">
            <div class="container">
                <div class="row straight">
                    <div class="col-lg-12">
                        <div class="title-section">

                            <h1 class="our-product-main">Recommended Wine</h1>
                            <div class="our-product-image">
                                <img th:src="@{/image/homepage14.png}" alt="image">
                            </div>
                        </div> <!-- /title-section -->
                    </div> <!-- /col-lg-12 -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="flat-latest mgb-mobi40">
                            <div class="latest-title mb-mgtop0">
                                <h3><a>Top Rating</a></h3>
                            </div>
                            <div class="flat-next">
                                <a th:href="@{'/wines/list?sortBy=ratingDesc'}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                            <article class="post-border" th:each="wine, status : ${recommendedRatingWines}">
                                <div class="featured-post">
                                    <a th:href="@{'/wines/wine/' + ${wine.id}}" class="main-img-div">
                                        <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
                                                    wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
                                                    wine.wineImg == 'https://images.vivino.com/highlights/icon/top_ranked.svg'
                                                    ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                                             th:class="main-wine-img"
                                             onerror="this.onerror=null; this.src='/image/wineDefault.png';">
                                    </a>
                                </div>
                                <div class="content-post">
                                    <div class="post-title">
                                        <span th:text="${wine.wineName}">와인이름</span>
                                    </div>
                                    <br>
                                    <div class="post-content">
                                        <span th:text="${wine.wineType}">와인타입</span>
                                    </div>
                                    <div class="post-content">
                                        <span th:text="${wine.country}">생산국</span>
                                    </div>
                                    <div class="post-content">
                                        <span th:text="${wine.region}">생산지</span>
                                    </div>
                                    <div class="post-dolar">
                                        <span class="amount" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : #numbers.formatCurrency(wine.price)}">와인가격</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div> <!-- /col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="flat-latest mgb-mobi40">
                            <div class="latest-title mb-mgtop0">
                                <h3><a>Popular</a></h3>
                            </div>
                            <div class="flat-next">
                                <a th:href="@{'/wines/list?sortBy=cellarDesc'}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                            <article class="post-border" th:each="wine, status : ${recommendedCellarWines}">
                                <div class="featured-post">
                                    <a th:href="@{'/wines/wine/' + ${wine.id}}">
                                        <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
                                                    wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
                                                    wine.wineImg == 'https://images.vivino.com/highlights/icon/top_ranked.svg'
                                                    ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                                             th:class="main-wine-img"
                                             onerror="this.onerror=null; this.src='/image/wineDefault.png';">
                                    </a>
                                </div>
                                <div class="content-post">
                                    <div class="post-title">
                                        <span th:text="${wine.wineName}">와인이름</span>
                                    </div>
                                    <br>
                                    <div class="post-content">
                                        <span th:text="${wine.wineType}">와인타입</span>
                                    </div>
                                    <div class="post-content">
                                        <span th:text="${wine.country}">생산국</span>
                                    </div>
                                    <div class="post-content">
                                        <span th:text="${wine.region}">생산지</span>
                                    </div>
                                    <div class="post-dolar">
                                        <span class="amount" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : #numbers.formatCurrency(wine.price)}">와인가격</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div> <!-- /col-lg-4 -->
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="flat-latest mgb-mobi40">
                            <div class="latest-title mb-mgtop0">
                                <h3><a>Latest</a></h3>
                            </div>
                            <div class="flat-next">
                                <a th:href="@{'/wines/list'}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                </a>
                            </div>
                            <article class="post-border" th:each="wine, status : ${recommendedDescWines}">
                                <div class="featured-post">
                                    <a th:href="@{'/wines/wine/' + ${wine.id}}">
                                        <img th:src="${wine.wineImg == 'https://images.vivino.com/highlights/icon/most_user_rated.svg' ||
                                                    wine.wineImg == 'https://thumbs.vivino.com/avatars/ZlapMkM9QayY3ci79lSL7A_50x50.jpg' ||
                                                    wine.wineImg == 'https://images.vivino.com/highlights/icon/top_ranked.svg'
                                                    ? '/image/wineDefault.png' : wine.wineImg}" alt="image"
                                             th:class="main-wine-img"
                                             onerror="this.onerror=null; this.src='/image/wineDefault.png';">
                                    </a>
                                </div>
                                <div class="content-post">
                                    <div class="post-title">
                                        <span th:text="${wine.wineName}">와인이름</span>
                                    </div>
                                    <br>
                                    <div class="post-content">
                                        <span th:text="${wine.wineType}">와인타입</span>
                                    </div>
                                    <div class="post-content">
                                        <span th:text="${wine.country}">생산국</span>
                                    </div>
                                    <div class="post-content">
                                        <span th:text="${wine.region}">생산지</span>
                                    </div>
                                    <div class="post-dolar">
                                        <span class="amount" th:text="${wine.price == null || wine.price == 0 ? '가격정보없음' : #numbers.formatCurrency(wine.price)}">와인가격</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div> <!-- /col-lg-4 -->
                </div> <!-- /row -->
            </div> <!-- /container -->
        </section> <!-- /flat-prodcuts -->
        <section class="flat-event style1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-section">
                            <h1 class="our-product-main" style="color:white;">New Place</h1>
                            <div class="our-product-image-background">
                                <img th:src="@{/image/test.png}" alt="image">
                            </div>
                        </div> <!-- /title-section -->
                    </div>
                    <div class="col-lg-12">
                        <div class="flat-carousel-box data-effect clearfix" data-gap="30" data-column="4" data-column2="2" data-column3="1" data-dots= "true" data-auto="false">
                            <div class="owl-carousel">
                                <div class="team-member" th:each="market, status : ${newMarkets}">
                                    <div class="team-border">
                                        <div class="team-title">
                                            <img th:src="${market.marketImgUrl}" alt="image" style="height: 200px; width: 200px;">
                                        </div>
                                        <div class="team-meta">
                                            <span th:text="${market.marketCategory}">플레이스 카테고리</span>
                                        </div>
                                        <div class="team-content">
                                            <h2><a th:href="${market.marketLink}" th:text="${market.marketingTitle}">플레이스 이름</a></h2>
                                        </div>
                                        <div class="team-dolar">
                                            <span th:text="${market.marketingContent}">플레이스 내용</span>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /owl-carouse -->
                        </div> <!-- /flat-carousel-box -->
                    </div> <!-- /col-lg-12 -->
                </div> <!-- /row -->
            </div> <!-- /container -->
        </section> <!-- /flat-event -->
    </div> <!-- /homepage1 -->


</div>
</html>