<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <!-- board css Fiels -->
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/board-list.css}">

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {
            // 검색 버튼 클릭 시 AJAX 요청
            $('#searchBtn').on('click', function (event) {
                event.preventDefault(); // 기본 폼 제출 방지

                const searchType = $('select[name="searchType"]').val();
                const searchQuery = $('input[name="searchQuery"]').val();
                const boardStatus = $('#hidden-boardStatus').val().toLowerCase();

                // AJAX GET 요청
                $.ajax({
                    url: `/boards/${boardStatus}/list/`,
                    type: 'GET',
                    data: {searchType: searchType, searchQuery: searchQuery},
                    success: function (response) {
                        // 검색 결과를 처리 (페이지 업데이트)
                        $('.board_list_wrap').html(response);
                    },
                    error: function (xhr, status, error) {
                        alert('검색 중 오류가 발생했습니다: ' + error);
                    }
                });
            });

            // 등록 버튼 클릭 시 등록 페이지로 이동
            $('#regBtn').on('click', function (e) {
                e.preventDefault();
                const boardStatus = $('#hidden-boardStatus').val();
                if (boardStatus) {
                    window.location.href = `/boards/${boardStatus.toLowerCase()}/new`;
                } else {
                    alert('게시판 상태를 확인할 수 없습니다.');
                }
            });
        });
    </script>
</th:block>


<div layout:fragment="content">

    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li class="blog"><a href="#">Boards</a></li>
                    </ul>
                </div>
                <div class="page-title-heading">
                    <h2 class="title" th:text="${boardStatus} + ' Board'"><a href="#">Board</a></h2>
                </div>
            </div>
        </div>
    </div> <!-- /.page-title -->


    <div class="board_wrap">

        <div class="banner-img upgrade-img"></div>
        <div class="banner-img question-img"></div>
        <div class="banner-img request-img"></div>




<!--        <div class="board_title">-->
<!--            <strong th:text="${boardStatus} + ' Board'">게시판</strong>-->
<!--        </div>-->



<!--        th:action="@{'/board/' + ${#strings.toLowerCase(boardStatus)} + '/list/' + ${boards.number}}"-->
        <form role="form"
              method="get">
            <!--            th:object="${boards}"-->

            <div class="form-group" th:object="${boardSearchDTO}">
                <select th:field="*{searchType}" class="form-list-type">
                    <option value="T">제목</option>
                    <option value="C">작성자</option>
                    <option value="W">내용</option>
                </select>

                <div class="form-group-search">
                    <input type="text" th:field="*{searchQuery}" class="form-control" placeholder="Search...">
                    <button type="submit" id="searchIcon" class="btn text-white" style="background-color: #E1B848; height: fit-content;" >
                        enter
                    </button>
                </div>
                <!--    얜 머지            -->
                <input type="hidden" th:value="${boardStatus}" id="hidden-boardStatus">

                <button type="button" id="regBtn" class="regbutton">게시글 등록</button>
            </div>
        </form>


        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="title" style="text-align: center;">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                </div>

                <!-- 게시글 목록 출력 -->
                <!--                th:each="board : ${boardDTOs}"-->
                <div th:each="board : ${boardDTOs}">
<!--                    <div class="num" th:text="${board.getId()}"></div>-->
                    <div class="title"><a
                            th:href="'/boards/' + ${#strings.toLowerCase(board.getBoardStatus())} + '/get/' + ${board.getId()}"
                            th:text="${board.boardTitle}"></a></div>
                    <div class="writer" th:text="${board.getWriterNickname()}"></div>
                    <div class="date" th:text="${#temporals.format(board.regTime, 'yy-MM-dd')}"></div>
                    <!--                <div class="count" th:text=""></div>-->
                </div>
            </div>


            <!-- 페이지네이션 -->
            <div class="blog-pagination text-center"
                 th:with="start=${(boards.number / maxPage) * maxPage + 1},
                                        end=${(boards.totalPages == 0) ?
                                        1 : (start + (maxPage - 1) < boards.totalPages ?
                                        start + (maxPage - 1) : boards.totalPages)}">
                <ul class="flat-pagination">
                    <li class="prev hvr-shutter-out-horizontal" th:classappend="${boards.first} ? 'disabled'">
                        <a th:onclick="'javascript:page(' + ${boards.number -1} + ')'" aria-label="Previous">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="hvr-shutter-out-horizontal" th:each="page: ${#numbers.sequence(start, end)}">
                        <a th:onclick=" 'javascript:page(' + ${page - 1} + ')'" th:inline="text">
                            [[${page}]]
                        </a>
                    </li>
                    <li class="next hvr-shutter-out-horizontal" th:classappend="${boards.last} ? 'disabled'">
                        <a th:onclick="'javascript:page(' + ${boards.number + 1} + ')'" aria-label="Next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 버튼 영역 -->
            <div class="bt_wrap">
                <!--                <a th:href="@{'/boards/' + ${#strings.toLowerCase(boardStatus)} + '/new'}" class="on">등록</a>-->
                <a th:href="@{/}">메인 홈페이지로 돌아가기</a>
            </div>
        </div>

    </div>


</div>


</html>