<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf.layout">

<th:block layout:fragment="css">
  <!-- write css Fiels -->
  <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/new.css}">
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">


  </script>
</th:block>


<!--<div id="loading-overlay">-->
<!--  <div class="loader"></div>-->
<!--</div> &lt;!&ndash; /.loading-overlay &ndash;&gt; 로딩페이지-->

<div layout:fragment="content">
  <div class="board_wrap">
    <div class="board_title">
      <strong>자유게시판</strong>
      <p>자유롭게 의견을 나눠보세요!!</p>
    </div>

    <div class="board_write_wrap">
      <!-- form 태그로 게시글 작성/수정 데이터를 POST 방식으로 전송 -->
      <form th:action="@{/board/save}" th:object="${board}" method="post" enctype="multipart/form-data">
        <div class="board_write">
          <div class="title">
            <dl>
              <dt>제목</dt>
              <!-- 제목 입력 필드 (boardTitle) -->
              <dd><input type="text" th:field="*{boardTitle}" placeholder="제목 입력" required></dd>
            </dl>
          </div>

          <div class="info">
            <dl>
              <dt>글쓴이</dt>
              <!-- 글쓴이 입력 필드 (Member의 name 속성) -->
              <dd><input type="text" th:field="*{member.name}" placeholder="글쓴이 입력" required></dd>
            </dl>
            <dl>
              <dt>비밀번호</dt>
              <!-- 비밀번호 입력 필드 -->
              <dd><input type="password" placeholder="비밀번호 입력" required></dd>
            </dl>
          </div>

          <div class="cont">
            <!-- 게시글 내용 입력 필드 (boardContent) -->
            <textarea th:field="*{boardContent}" placeholder="내용 입력해주세요" required></textarea>
          </div>

          <!-- 파일 첨부 섹션 -->
          <div class="file_attach">
            <dl>
              <dt>이미지 첨부</dt>
              <!-- 파일 업로드 필드 (boardImg) -->
              <dd><input type="file" name="fileUpload" th:field="*{boardImg}" accept="image/*"></dd>
            </dl>
          </div>
        </div>

        <div class="bt_wrap">
          <!-- 등록 버튼 -->
          <button type="submit" class="btn_new">등록</button>
          <!-- 취소 버튼 -->
          <a href="#">취소</a>
        </div>
      </form>
    </div>
  </div>
</div>

</html>