<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <!-- board css Fiels -->
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/board-list.css}">

    <style>
        .disabled{
            pointer-events: none;
            opacity: 0.1;
        }
        .page-active{
            background-color: #c02323 !important;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function (){
            $('#searchIcon').on("click", function (e){
                e.preventDefault();
                page(0);
            });

            const boardStatus = $("#boardStatus").data('board-status');
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            // 등록 버튼 클릭 시 등록 페이지로 이동
            $('#regBtn1').on('click', function (e) {
                e.preventDefault();

                // 로그인 여부 확인
                $.ajax({
                    url: '/boards/isLoggedIn', // 로그인 여부 확인 API
                    type: 'GET',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token); // CSRF 토큰 추가
                    },
                    success: function(isLoggedIn) {
                        if (!isLoggedIn) {
                            alert('로그인 후 이용하세요.');
                            location.href = '/members/login'; // 로그인 페이지로 리다이렉트
                        } else {
                            // 게시글 등록 페이지로 이동
                            location.href = `/boards/${boardStatus}/new`;
                        }
                    },
                    error: function(xhr, status, error){
                        alert("로그인 상태 확인 중 오류가 발생했습니다.");
                    }
                });
            });

            $('#regBtn2').on('click', function (e) {
                e.preventDefault();
                const boardStatus = $("#boardStatus").data('board-status');
                const isLoggedIn = $('#isLoggedIn').val() === 'true'; // 로그인 여부 확인

                if (!isLoggedIn) {
                    alert('로그인 후 이용하세요. 2');
                    location.href = '/members/login'; // 로그인 페이지로 리다이렉트
                } else {
                    // 게시글 등록 페이지로 이동
                    location.href = `/boards/${boardStatus.toLowerCase()}/new`;
                }
            });
        });


      // 검색버튼 페이지
      function page(page){
          const searchType = $("#searchType").val();
          const searchQuery = $("#searchQuery").val();
          const boardStatus = $("#boardStatus").data('board-status');


          // url
          location.href="/boards/" + boardStatus + "/list/" + page
              + "?searchType=" + searchType + "&searchQuery=" + searchQuery;
      }

      // 페이지




    </script>
</th:block>


<div layout:fragment="content" class="content">

    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li class="blog"><a href="#">Boards</a></li>
                    </ul>
                </div>
                <div class="page-title-heading">
                    <h2 class="title" th:text="${boardStatus} + ' Board'"><a href="#">Board</a></h2>
                </div>
            </div>
        </div>
    </div> <!-- /.page-title -->


    <div class="board_wrap">

        <div class="banner-img upgrade-img" th:if="${#strings.toLowerCase(boardStatus) == 'upgrade'}"></div>
        <div class="banner-img question-img" th:if="${#strings.toLowerCase(boardStatus) == 'question'}"></div>
        <div class="banner-img request-img" th:if="${#strings.toLowerCase(boardStatus) == 'request'}"></div>




<!--        <div class="board_title">-->
<!--            <strong th:text="${boardStatus} + ' Board'">게시판</strong>-->
<!--        </div>-->



<!--        th:action="@{'/board/' + ${#strings.toLowerCase(boardStatus)} + '/list/' + ${boards.number}}"-->
        <form role="form" method="get">
            <!--            th:object="${boards}"-->

            <div class="form-group" th:object="${boardSearchDTO}">
                <select th:field="*{searchType}" class="form-list-type">
                    <option value="T">제목</option>
                    <option value="C">작성자</option>
                    <option value="W">내용</option>
                </select>

                <div class="form-group-search">
                    <input type="text" th:field="*{searchQuery}" class="form-control" placeholder="Search..." style="font-size:14px;">
                    <button type="submit" id="searchIcon" class="search-btn">
                        enter
                    </button>
                </div>
                <!--    얜 머지         -->
                <input type="hidden" id="boardStatus" th:data-board-status="${boardStatus}">
                <!-- 로그인 여부 -->
                <input type="hidden" id="isLoggedIn" th:value="${isLoggedIn}">

                <div th:if="${#strings.toLowerCase(boardStatus) != 'notice'}">
                <button type="button" id="regBtn1" class="regbutton" onclick="regBoard()">게시글 등록</button>
                </div>

                <div th:unless="${#strings.toLowerCase(boardStatus) != 'notice'}" sec:authorize="hasRole('ADMIN')">
<!--                    <div th:if="${isAdmin}">-->
                    <button type="button" id="regBtn2" class="regbutton" onclick="regBoard()">게시글 등록</button>
<!--                    </div>-->
                </div>

            </div>
        </form>


        <div class="board_list_wrap">
            <div class="board_list">
                <div class="top">
                    <div class="title" style="text-align: center;">제목</div>
                    <div class="writer">글쓴이</div>
                    <div class="date">작성일</div>
                </div>

                <!-- 게시글 목록 출력 -->
                <!--                th:each="board : ${boardDTOs}"-->
                <div th:each="board : ${boardDTOs}">
<!--                    <div class="num" th:text="${board.getId()}"></div>-->
                    <div class="title"><a
                            th:href="'/boards/' + ${#strings.toLowerCase(board.getBoardStatus())} + '/get/' + ${board.getId()}"
                            th:text="${board.boardTitle}"></a></div>
                    <div class="writer" th:text="${board.getWriterNickname()}"></div>
                    <div th:if="${isExpert}">(전문가)</div>
                    <div class="date" th:text="${#temporals.format(board.regTime, 'yy-MM-dd')}"></div>
                    <!--                <div class="count" th:text=""></div>-->
                </div>
            </div>


            <!-- 페이지네이션 -->
            <div class="blog-pagination text-center"
                 th:with="start=${(boards.number / maxPage) * maxPage + 1},
                                        end=${(boards.totalPages == 0) ?
                                        1 : (start + (maxPage - 1) < boards.totalPages ?
                                        start + (maxPage - 1) : boards.totalPages)}">
                <ul class="flat-pagination">
                    <li class="prev hvr-shutter-out-horizontal" th:classappend="${boards.first} ? 'disabled'">
                        <a th:onclick="'javascript:page(' + ${boards.number -1} + ')'" aria-label="Previous">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="hvr-shutter-out-horizontal" th:each="page: ${#numbers.sequence(start, end)}">
                        <a th:onclick=" 'javascript:page(' + ${page - 1} + ')'" th:inline="text">
                            [[${page}]]
                        </a>
                    </li>
                    <li class="next hvr-shutter-out-horizontal" th:classappend="${boards.last} ? 'disabled'">
                        <a th:onclick="'javascript:page(' + ${boards.number + 1} + ')'" aria-label="Next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 버튼 영역 -->
            <div class="bt_wrap">
                <!--                <a th:href="@{'/boards/' + ${#strings.toLowerCase(boardStatus)} + '/new'}" class="on">등록</a>-->
                <a th:href="@{/}">메인 홈페이지로 돌아가기</a>
            </div>
        </div>

    </div>


</div>


</html>