<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/board-form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/board-get-form.css}">

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function () {

            const errorMessage = $('#error-message').data('error-message');
            if(errorMessage){
                alert(errorMessage);
            }
            const boardStatus = $('#boardStatus').data('board-status');
            const boardId = $('#getBoardId').data('board-id');
            if(boardStatus != 'NOTICE') {
                getBoardReplyList(boardId, 0);
            }
            // console.log(boardId);

            $('#upgradeBtn').on('click', function () {
                const memberId = $(this).data('member-id'); // 게시글 작성자의 ID를 가져오는 방법
                const token = $("meta[name='_csrf']").attr("content");
                const header = $("meta[name='_csrf_header']").attr("content");
                const boardStatus = $("#boardStatus").data("board-status") // 게시판 상태

                console.log(boardStatus)
                console.log(memberId)

                // AJAX 요청
                $.ajax({
                    url: `/members/expert/${boardStatus}/${memberId}`,
                    type: 'POST',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token); // CSRF 토큰 설정
                    },
                    success: function (response) {
                        alert(response); // 성공 메시지
                        window.location.href = `/boards/${boardStatus}/list`; // 페이지 새로고침
                    },
                    error: function (xhr) {
                        if (xhr.status === ' 401') {
                            alert('로그인 후 이용하세요.');
                            location.href = '/members/login';
                        } else {
                            alert(xhr.responseText);
                        }                    }
                });
            });

            // 댓글 등록
            $('.reply-form').on('submit', function (e) {
                e.preventDefault();
                const token = $("meta[name='_csrf']").attr("content");
                const header = $("meta[name='_csrf_header']").attr("content");
                const reply = $('textarea[name="reply"]').val();
                const boardId = $('#getBoardId').data('board-id');

                const replyData = {reply: reply};

                $.ajax({
                    url: `/replies/new/${boardId}`,
                    type: 'POST',
                    contentType: 'application/json',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token)
                    },
                    data: JSON.stringify(replyData),
                    success: function (response) {
                        alert(response); //성공메세지
                        $('textarea[name="reply"]').val('');
                        getBoardReplyList(boardId, 0); // 메소드만들기
                    },
                    error: function (xhr) {
                        if (xhr.status == ' 401') {
                            alert('로그인 후 이용하세요.');
                            location.href = '/members/login';
                        } else {
                            alert(xhr.responseText);
                        }
                    }
                })
            });


        }); // ready끝


        // 댓글페이지 불러오기
        function getBoardReplyList(boardId, replyPage) {
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");
            const loginUserIdElement = $("#getLoginUserId");
            const noLoginUserIdElement = $("#getNoLoginUserId");
            const loginUserId = loginUserIdElement.length > 0
                ? loginUserIdElement.data("login-user-id")
                : noLoginUserIdElement.data("login-user-id");
            // console.log(loginUserId);

            function createBtns(replyMemberId, replyId) {
                if (loginUserId === replyMemberId) {
                    return `
                    <div class="comment-actions">
                    <button class="modify-btn" onclick="modifyReply(${replyId})">수정</button>
                    <button class="delete-btn" onclick="deleteReply(${replyId})">삭제</button>
                    </div>`;
                }
                return '';
            }

            $.ajax({
                url : `/replies/${boardId}/${replyPage}`,
                type : 'GET',
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                cache : false,
                success : function (data){
                    const boardReplyListContainer = $('#boardReplyListContainer');
                    boardReplyListContainer.empty();

                    data.boardReplys.forEach(function (reply){
                        console.log(reply.memberId);
                        const item = `
                        <div class="reply-content">
                            <div class="avatar">
                            <img src="/wineshare-img/people.png" alt="image" class="profile_img">
                            </div>
                            <div class="post-comment" id="post-reply-${reply.id}">
                                <div class="comment-title comment">${reply.replyNickname}</div>
                                <div class="comment-text comment" id="comment-reply-${reply.id}">${reply.reply}</div>
                                ${createBtns(reply.memberId, reply.id)}
                            </div>
                        </div>`;
                        boardReplyListContainer.append(item);
                        const commentForm = document.getElementById("comment-respond-reply");
                        commentForm.className = "reply-form";
                    });
                    updateReplyPage(data.currentPage, data.totalPages)
                    console.log(data.currentPage);
                },
                error : function (xhr){
                    console.error(xhr);
                    let errorMessage = '댓글 정보를 불러오지 못했습니다.';
                    if (xhr.status === 401){
                        errorMessage = '로그인이 필요합니다.';
                    }else if(xhr.status === 500){
                        errorMessage = '서버 오류가 발생했습니다. 나중에 다시 시도하세요.';
                    }
                    alert(errorMessage);
                }
            });
        }

        // 댓글 페이지 네이션
        function updateReplyPage(currentPage, totalPages){
            const boardId = $('#getBoardId').data('board-id');
            const paginationContainer = $('#replyPageContainer');
            paginationContainer.empty();
            //이전버튼
            const prevDisabled = currentPage === 0 ? 'disabled' : '';
            paginationContainer.append(`
                   <li class="prev hvr-shutter-out-horizontal ${prevDisabled}">
                            <a ${prevDisabled ? '' : 'onclick="getBoardReplyList(' + boardId + ',' + (currentPage - 1) + ')"'} aria-label="Previous">
                                <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                        </li>
                `);
            //maxpage
            const maxPage = 5;
            let start = Math.floor(currentPage / maxPage) * maxPage;
            let end = Math.min(start + maxPage, totalPages);

            // 페이지 번호추가
            for (let i = start; i<end; i++){
                const activeClass = i === currentPage ? 'page-active' : '';
                paginationContainer.append(`
                     <li class="hvr-shutter-out-horizontal ${activeClass}">
                <a onclick="getBoardReplyList(${boardId}, ${i} )" aria-label="Page">${i + 1}</a>
            </li>
                    `);
            }
            // 다음버튼
            const nextDisabled = (currentPage === totalPages -1 || totalPages === 0) ? 'disabled' : '';
            paginationContainer.append(`
                         <li class="next hvr-shutter-out-horizontal ${nextDisabled}">
                    <a ${nextDisabled ? '' : 'onclick="getBoardReplyList('+ boardId + ',' + (currentPage + 1) + ')"'} aria-label="Next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
                        `);
        }

        // 댓글삭제
        function deleteReply(replyId){
            const boardId = $("#getBoardId").data('board-id');
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");
            const page = $("#replyPageContainer .page-active a").text();
            if(confirm("댓글을 삭제하시겠습니까?")){
                $.ajax({
                    url : `/replies/${replyId}`,
                    type : 'DELETE',
                    beforeSend : function (xhr){
                        xhr.setRequestHeader(header, token);
                    },
                    success : function (response){
                        alert(response);
                        getBoardReplyList(boardId, page-1);
                    },
                    error : function (xhr){
                        if(xhr.status == '401'){
                            alert("로그인 후 이용해주세요.");
                            location.href = '/members/login';
                        }else{
                            alert(xhr.responseText);
                        }
                    }
                });
            }
        }

        // 댓글 수정폼 열기
        function modifyReply(replyId){
            const page = $("#replyPageContainer .page-active a").text();
            const boardId = $('#getBoardId').data('board-id'); // 현재페이지 게시글아이디
            const commentForm = document.getElementById("comment-respond-reply"); // 리뷰폼
            const commentDiv = $(`#comment-reply-${replyId}`); // 수정할 리뷰의 기존 텍스트에리어
            const currentDiv = $(`#post-reply-${replyId}`);
            const currentText = commentDiv.text(); // 수정할 리뷰의 기존 텍스트에리어의 내용

            const modifyInput = `
                        <textarea id="modify-comment-${replyId}" required>${currentText}</textarea>
                       <button onclick="saveModifyReply(${replyId})">저장</button>
                        <button onclick="getBoardReplyList(${boardId}, ${page - 1})">취소</button>`;

            currentDiv.html(modifyInput);
            const btns = document.querySelectorAll("#boardReplyListContainer .comment-actions");
            for(let i=0; i<btns.length; i++){
                btns[i].remove();
            }

            // 수정에서
            commentForm.className = "reply-form display-none";
        }

        // 리뷰 수정 날리기
        function saveModifyReply(replyId){
            const newComment = $(`#modify-comment-${replyId}`).val();
            const boardId = $('#getBoardId').data('board-id');
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");
            const page = $("#replyPageContainer .page-active a").text();

            $.ajax({
                url : `/replies/${replyId}`,
                type : 'PUT',
                contentType : 'application/json',
                data : JSON.stringify({reply : newComment}),
                beforeSend : function (xhr){
                    xhr.setRequestHeader(header, token);
                },
                success : function (response){
                    getBoardReplyList(boardId, page-1);
                },
                error : function (xhr){
                    console.error(xhr);
                    alert("댓글 수정에 실패했습니다.")
                }
            });

        }
    </script>
</th:block>

<div layout:fragment="content">

    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
                <div class="breadcrumbs">
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>Boards</a></li>
                        <li class="blog"><a>Details</a></li>
                    </ul>
                </div>
                <div class="page-title-heading">
                    <h2 class="title" th:text="${boardStatus} + ' BOARD DETAILS'"></h2>
                </div>
            </div>
        </div>
    </div> <!-- /.page-title -->


    <div class="board-form">
        <form role="form" method="get" th:object="${boardDTO}" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div id="boardStatus" th:data-board-status="${boardStatus}"
                             class="form-title">
                        </div>
                    </div>
                </div>
            </div>


            <div class="btn-box" th:if="${isAuthor}">
                <!--                수정 버튼 -->
                <button th:formaction="@{'/boards/' + ${#strings.toLowerCase(boardStatus)} + '/modify/' + ${boardDTO.id}}"
                        type="submit" class="board-modify-btn">수정
                </button>
            </div>
            <div class="btn-box" th:unless="${isAuthor}">
                <div sec:authorize="hasRole('ADMIN')">
                    <!--                수정 버튼 -->
                    <button th:formaction="@{'/boards/' + ${#strings.toLowerCase(boardStatus)} + '/modify/' + ${boardDTO.id}}"
                            type="submit" class="board-modify-btn">수정
                    </button>
                </div>
            </div>


            <div class="form-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <input type="hidden" id="getBoardId" th:data-board-id="${boardDTO.id}">

                            <span th:if="${loginUser != null}">
                              <input type="hidden" id="getLoginUserId"
                                     th:data-login-user-id="${loginUser.id != null ? loginUser.id : '0'}">
                          </span>
                            <span th:unless="${loginUser != null}">
                                <input type="hidden" id="getNoLoginUserId" data-login-user-id="0">
                            </span>

                            <table class="board-table">
                                <tr>
                                    <th>제목</th>
                                    <td><div th:field="*{boardTitle}" th:text="*{boardTitle}"></div></td>
                                </tr>

                                <tr>
                                    <th>작성자</th>
                                    <td><div th:field="*{writerNickname}" th:text="*{writerNickname}"></div></td>
                                </tr>

                                <tr>
                                    <th>등록일</th>
                                    <td><div th:field="*{regTime}" th:text="${#temporals.format(board.regTime , 'yy-MM-dd')}"></div></td>
                                </tr>

                                <tr class="board-content">
                                    <th>내용</th>
                                    <td><div class="board-content" th:field="*{boardContent}" th:text="${board.boardContent}"></div></td>
                                </tr>

                                <tr th:if="${boardDTO.boardImgUrl != null}">
                                    <th>이미지</th>
                                    <td>
                                        <div th:if="${boardDTO.boardImgUrl != null}" class="board-img">
                                            <div>
                                                <img  class="board-img" th:src="${boardDTO.boardImgUrl}" alt="게시물 이미지">
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${#strings.equalsIgnoreCase(boardStatus, 'upgrade')}">
            <div th:if="${isWriterRegular == true}">
                <div sec:authorize="hasRole('ADMIN')">
                    <button type="button" id="upgradeBtn" class="admin-agree" th:data-member-id="${memberId}">등업하기
                    </button>
                </div>
            </div>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        </form>


        <!-- 댓글 섹션 -->
        <section class="reply-all" style="padding: 0 0 50px 0;" th:if="${not #strings.equalsIgnoreCase(boardStatus, 'notice')}">
            <div class="container">


                        <div class="reply-area">

                            <!--    모든유저  댓글      -->
                            <div id="tab-replys" class="tab-content">
                                <div class="post-bottom-second post-bottom">
                                    <div class="reply_box" id="boardReplyListContainer">
                                        <!-- 일반유저 평가 들어올 자리 -->
                                    </div>
                                </div> <!-- /post-bottom-second -->

                                <!-- 페이지 네이션 -->
                                <div class="blog-pagination text-center">
                                    <ul class="flat-pagination" id="replyPageContainer">

                                    </ul>
                                </div>

                                <div class="comment-respond"
                                     th:with="memberType=${loginUser != null ? loginUser.memberType : 'DEFAULT_VALUE'}">
                                    <form class="reply-form" id="comment-respond-reply">

                      <p>Add Reply</p>


                                                <p class="comment-form-comment">
<!--                           <label>Comment</label>-->
                        <textarea name="reply" placeholder="Reply..." required="required"></textarea>
                          </p>
                          <p class="submit-form">
                        <button name="submit" type="submit" class="reply-submit">SUBMIT</button>
                      </p>
                                    </form>
                                </div>  <!-- /comment-respond -->

                            </div>
                        </div>


            </div>
        </section>
        <!-- /댓글 섹션 -->

        <!-- Modal -->

        <!-- /.modal -->


    </div>

</div>

<script>


</script>

</html>