<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf.layout">
<!-- register css Fiels -->
<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/register.css}">

<!--<div id="loading-overlay">-->
<!--    <div class="loader"></div>-->
<!--</div> &lt;!&ndash; /.loading-overlay &ndash;&gt; 로딩페이지임-->

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

<div layout:fragment="content">

    <div class="main-homepage-1">

    </div> <!-- /homepage1 -->
    <div id="container1"></div>

    <div class="container">
        <h1 class="header">Create Account</h1>

        <!-- 타임리프를 사용한 회원가입 폼 -->
        <form th:action="@{/register}" method="post" class="login-form">

            <!-- 이메일 입력 -->
            <div class="form-group">
                <label th:for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="email" required/>
            </div>

            <!-- 비밀번호 입력 -->
            <div class="form-group">
                <label th:for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="password" required/>
            </div>

            <!-- 이름 입력 -->
            <div class="form-group">
                <label th:for="name">Name</label>
                <input id="name" name="name" type="text" placeholder="Enter your name" required/>
            </div>

            <!-- 닉네임 입력 -->
            <div class="form-group">
                <label for="nickname">Nickname</label>
                <input id="nickname" name="nickname" type="text" placeholder="Enter your nickname" required/>
            </div>

            <!-- 주민등록번호 입력 -->
            <div class="form-group">
                <label for="rrn">RRN</label>
                <input id="rrn" name="rrn" type="text" placeholder="Enter your RRN" required/>
            </div>

            <!-- 전화번호 입력 -->
            <div class="form-group">
                <label for="mobile">Phone Number</label>
                <input id="mobile" name="mobile" type="text" placeholder="Enter your phone number" required/>
            </div>

            <!-- 등록 버튼 -->
            <button type="submit" class="login-button">Register</button>
        </form>

        <div class="footer-text">
            <!-- 로그인 페이지로 이동 -->
            Already have an account? <a th:href="@{/login}">Sign In</a>
        </div>
    </div>

    <a id="scroll-top"><i class="fa fa-angle-right" aria-hidden="true"></i></a> <!-- /#scroll-top -->
</div>


</html>