<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="css">
    <!-- login css Fiels -->
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/login.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>

<div layout:fragment="content">
    <div id="loading-overlay">
        <div class="loader"></div>
    </div> <!-- /.loading-overlay -->


    <div class="main-homepage-1">

    </div> <!-- /homepage1 -->
    <div class="container">
        <!-- 로고 이미지 경로를 타임리프를 사용해 동적으로 설정 -->
        <h1 class="header">Sign in</h1>
        <form action="" class="login-form">
            <div class="form-group">
                <label for="email">이메일</label>
                <input id="email" name="email" type="email" placeholder="email"/>
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input id="password" name="password" type="password" placeholder="password"/>
            </div>
            <div class="custom-checkbox">
                <input type="checkbox" name="remember" id="remember"/>
                <label for="remember">Keep me signed in</label>
            </div>
        </form>
        <button class="login-button">Login</button>
        <div class="footer-text">
            회원이 아니신가요? <a href="">회원가입</a> // 여기경로는 회원가입form으로 넣어주면돼
        </div>


    </div>
</div>



</html>