<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
  <footer class="style3">
    <div class="container">
      <div class="footer-widgets">

        <div class="widget widget-icon">
          <ul>
            <li><a> <i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
            <li><a> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
            <li><a> <i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
            <li><a> <i class="fa fa-skype" aria-hidden="true"></i> </a></li>
            <li><a> <i class="fa fa-wordpress" aria-hidden="true"></i></a></li>
          </ul>
        </div> <!-- /widget-icon -->

        <div class="widget widget-menu">
          <ul>
            <li><a> About us </a></li>
            <li><a> Customer Service </a></li>
            <li><a> Terms & Conditions </a></li>
            <li><a> Privacy Policy </a></li>
            <li><a> Contact </a></li>
          </ul>
        </div> <!-- /widget-about -->
        <div class="widget widget-text">
          <span>© 2019 Created by ThemesFlat. All Rights Reserved</span>
        </div>
      </div> <!-- /footer-widgets -->
    </div> <!-- /container -->
  </footer>

</div>

</html>