<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">


  <!--  <div id="loading-overlay">-->
  <!--    <div class="loader"></div>-->
  <!--  </div> &lt;!&ndash; /.loading-overlay &ndash;&gt;-->
  <header class="style1">
    <div id="site-header">
      <div class="container-fluid">
        <a href="/" class="logo"><img th:src="@{/image/wineshare2.PNG}" alt="image" width="129" height="37" th:data-retina="@{/image/wineshare2.PNG}" data-width="147" data-height="21"></a>
        <div class="mobile-button">
          <span></span>
        </div>
        <div class="nav-wrap ">
          <nav id="mainnav" class="mainnav">
            <ul class="menu">

              <li class="active">
                <a href="about.html" title="">About Us</a>
                <ul class="sub-menu">
                  <li><a href="About.html" title="">Wine Share</a></li>
                  <li><a th:href="@{boards/notice/list/0}" title="">공지사항</a></li>
                  <!--                                <li><a href="Coming-soon.html" title="">Bistro</a></li>-->
                  <!--                                <li><a href="404-page.html" title="">Promotion</a></li>-->
                  <!-- <li><a href="Wish-list.html" title="">Wish List</a></li>-->
                </ul><!-- /.sub-menu -->
              </li>


              <li class="active a">
                <a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=&sortBy='}" title="Wine List">Wine</a>
                <ul class="sub-menu">
                  <!--                                    <li class="active"><a href="home1.html" title="">Red</a></li>-->
                  <li><a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=RED&sortBy='}" title="Wine List-RED">RED</a></li>
                  <li><a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=WHITE&sortBy='}" title="Wine List-WHITE">WHITE</a></li>
                  <li><a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=SPARKLING&sortBy='}" title="Wine List-SPARKLING">SPARKLING</a></li>
                  <li><a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=ROSE&sortBy='}" title="Wine List-ROSE">ROSE</a></li>
                  <li><a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=DESSERT&sortBy='}" title="Wine List-DESSERT">DESSERT</a></li>
                  <li><a th:href="@{'/wines/list/0?minPrice=&maxPrice=&searchWineType=PORT&sortBy='}" title="Wine List-PORT">PORT</a></li>
                  <!--                                    <li><a href="/shop/Shop-order-tracking.html" title="">Shop Order Tracking</a></li>-->
                  <!--                                    <li><a href="/shop/Shop-cart.html" title="">Shop Cart</a></li>-->
                </ul><!-- /.sub-menu -->
              </li>
              <li class="active">
                <a href="about.html" title="">Marketing</a>
                <ul class="sub-menu">
                  <li><a th:href="@{marketings/winebar/list}" title="">Wine Bar</a></li>
                  <li><a th:href="@{marketings/bottleshop/list}" title="">Bottle Shop</a></li>
                  <li><a th:href="@{marketings/bistro/list}" title="">Bistro</a></li>
                  <!--                                    <li><a href="404-page.html" title="">Promotion</a></li>-->
                  <!--                                    <li><a href="Wish-list.html" title="">Wish List</a></li>-->
                </ul><!-- /.sub-menu -->
              </li>
              <li class="active">
                <a href="#" title="">Boards</a>
                <ul class="sub-menu">
                  <li><a th:href="@{boards/upgrade/list/0}" title="">등업게시판</a></li>
                  <li><a th:href="@{boards/question/list/0}" title="">질문게시판</a></li>
                  <li><a th:href="@{boards/request/list/0}" title="">요청게시판</a></li>
                </ul><!-- /.sub-menu -->
              </li>
              <li class="active">
                <a href="#" title="">Events</a>
                <ul class="sub-menu">
                  <li><a href="Blog-grid-3column.html" title="">행사</a></li>
                  <li><a href="Blog-grid-2column.html" title="">프로모션</a></li>
                  <!--                                    <li><a href="Blog-Right-Slidebar.html" title="">Blog Right Slidebar</a></li>-->
                  <!--                                    <li><a href="Blog-details-slidebar.html" title="">Blog Details Slidebar</a></li>-->
                  <!--                                    <li><a href="Blog-details-fullwidth.html" title="">Blog Details FullWidth</a></li>-->
                </ul><!-- /.sub-menu -->
              </li>
              <!--                        <li class="active">-->
              <!--                            <a href="#" title="">Events</a>-->
              <!--                                <ul class="sub-menu">-->
              <!--                                    <li><a href="contact-1.html" title="">Contact Us 1</a></li>-->
              <!--                                    <li><a href="Contact-2.html" title="">Contact Us 2</a></li>-->
              <!--                                </ul>&lt;!&ndash; /.sub-menu &ndash;&gt;-->
              <!--                         </li>-->
            </ul>
          </nav>
        </div><!-- /.nav-wrap -->
        <div class="search clearfix">
          <ul>
            <li><input type="search" id="search" placeholder="Search..." ></li>
            <li><a href="#" class="header-search-icon"><i class="ti-search" aria-hidden="true"></i></a></li>
            <li><a href="#"> <i class="ti-align-justify" aria-hidden="true"></i> </a>
              <ul class="sub-menu">
                <li><a href="projects1.html" title="">Login/ Register</a></li>
                <li><a href="projects1.html" title="">My Account</a></li>
                <li><a href="projects1.html" title="">My Wishlist</a></li>
                <li><a href="projects1.html" title="">My Cart</a></li>
                <li><a href="projects1.html" title="">Tracking Orders</a></li>
              </ul><!-- /.sub-menu -->
            </li>
          </ul>
          <form class="header-search-form" role="search" th:action="@{/}" method="get">
            <input type="text" value="" name="#" class="header-search-field" placeholder="Search...">
            <button type="submit" class="header-search-submit" title="Search"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div><!-- /container -->
    </div>
  </header>



</div>
</html>
