<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block layout:fragment="css">

  <style>


  </style>
</th:block>

<div th:fragment="header">

  <header class="style1">
    <div id="site-header">
      <div class="container-fluid">



        <div class="mobile-button">

          <span></span>
        </div>
        <div class="nav-wrap ">
          <nav id="mainnav" class="mainnav">
            <ul class="menu">
              <li class="logo-area">

              <a href="/" ><img th:src="@{/wineshare-img/logo2.png}" alt="image" width="95" height="50" th:data-retina="@{/wineshare-img/logo2.png}" data-width="95" data-height="50" style="margin-right:100px;"></a>

              </li>

              <li class="active">
                <span class="mouse-pointer">About Us</span>
                <ul class="sub-menu">
                  <li><a th:href="@{'/about/aboutUs'}" title="">Wine Share</a></li>
                  <li><a th:href="@{'/boards/notice/list'}" title="notice">공지사항</a></li>

                </ul><!-- /.sub-menu -->
              </li>


              <li class="active a">
                <a th:href="@{'/wines/list'}" title="Wine List">Wine</a>
                <ul class="sub-menu">
                  <!--                                    <li class="active"><a href="main.html" title="">Red</a></li>-->
                  <li><a th:href="@{'/wines/list/0?searchWineType=RED'}" title="Wine List-RED">RED</a></li>
                  <li><a th:href="@{'/wines/list/0?searchWineType=WHITE'}" title="Wine List-WHITE">WHITE</a></li>
                  <li><a th:href="@{'/wines/list/0?searchWineType=SPARKLING'}" title="Wine List-SPARKLING">SPARKLING</a></li>
                  <li><a th:href="@{'/wines/list/0?searchWineType=ROSE'}" title="Wine List-ROSE">ROSE</a></li>
                  <li><a th:href="@{'/wines/list/0?searchWineType=DESSERT'}" title="Wine List-DESSERT">DESSERT</a></li>
                  <li><a th:href="@{'/wines/list/0?searchWineType=PORT'}" title="Wine List-PORT">PORT</a></li>
                </ul><!-- /.sub-menu -->
              </li>
              <li class="active">
                <span class="mouse-pointer">Marketing</span>
                <ul class="sub-menu">
                  <li><a th:href="@{'/marketings/winebar/list'}" title="">Wine Bar</a></li>
                  <li><a th:href="@{'/marketings/bottleshop/list'}" title="">Bottle Shop</a></li>
                  <li><a th:href="@{'/marketings/bistro/list'}" title="">Bistro</a></li>
                </ul><!-- /.sub-menu -->
              </li>
              <li class="active">
                <span class="mouse-pointer">Boards</span>
                <ul class="sub-menu">
                  <li><a th:href="@{'/boards/upgrade/list'}" title="">등업게시판</a></li>
                  <li><a th:href="@{'/boards/question/list'}" title="">질문게시판</a></li>
                  <li><a th:href="@{'/boards/request/list'}" title="">요청게시판</a></li>
                </ul><!-- /.sub-menu -->
              </li>
              <li class="active">
                <span class="mouse-pointer">Events</span>
                <ul class="sub-menu">
                  <li><a th:href="@{'/marketings/list/event'}" title="">행사</a></li>
                  <li><a th:href="@{'/marketings/list/promotion'}" title="">프로모션</a></li>
                  <!--                                    <li><a href="Blog-Right-Slidebar.html" title="">Blog Right Slidebar</a></li>-->
                  <!--                                    <li><a href="Blog-details-slidebar.html" title="">Blog Details Slidebar</a></li>-->
                  <!--                                    <li><a href="Blog-details-fullwidth.html" title="">Blog Details FullWidth</a></li>-->
                </ul><!-- /.sub-menu -->
              </li>
            </ul>
          </nav>
        </div><!-- /.nav-wrap -->



        <div class="search clearfix">

          <ul>
<!--            <li><input type="search" id="search" placeholder="Search..." ></li>-->
<!--            <li><a href="#" class="header-search-icon"><i class="ti-search" aria-hidden="true"></i></a></li>-->

            <li sec:authorize="isAuthenticated()" >
              <span th:text="${#authentication.name}" style="font-weight: bold;"></span>
              님 환영합니다.
            </li>


            <li><a href="#"> <i class="ti-align-justify" aria-hidden="true"></i> </a>
              <ul class="sub-menu">

                <!--        여기가 유저 네임 보여주는 곳 ==========-->
                <!--       이메일보단 닉넴으로 보여주는게 좋을듯 ==========-->



                <li sec:authorize="isAnonymous()">
                  <a th:href="@{'/members/login'}" title="">Login</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                  <a th:href="@{'/members/logout'}">Logout</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                  <a th:href="@{'/members/modify'}">회원정보수정</a>
                </li>
                <li><a th:href="@{'/cellars'}" sec:authorize="isAuthenticated()">My Cellar</a></li>
                <li><a th:href="@{'/wines/new'}" sec:authorize="hasRole('EXPERT') or hasRole('ADMIN')">와인 등록</a></li>
<!--                <li><a th:href="/marketings/register" title="">업장/행사 등록</a></li>-->
                <li ><a th:href="@{'/admins/dataChoiList'}" sec:authorize="hasRole('ADMIN')">관리자 데이터 목록</a></li>
              </ul><!-- /.sub-menu -->
            </li>
          </ul>
<!--          <form class="header-search-form" role="search" th:action="@{/}" method="get">-->
<!--            <input type="text" value="" name="#" class="header-search-field" placeholder="Search...">-->
<!--            <button type="submit" class="header-search-submit" title="Search"><i class="fa fa-search"></i></button>-->
<!--          </form>-->
        </div>
      </div><!-- /container -->
    </div>
  </header>



</div>
</html>
