<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">



<!-- 사용자 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/about-us.css}">
</th:block>

<!--/* 사용자 스크립트 추가 */-->
<th:block layout:fragment="script">
  <script th:inline="javascript">

  </script>
</th:block>

<div layout:fragment="content" >

  <div id="loading-overlay">
    <div class="loader"></div>
  </div> <!-- /.loading-overlay -->

    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
      <div class="container">
        <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
          <div class="breadcrumbs">
            <ul>
              <li><a>Home</a></li>
              <li><a>About us</a></li>
              <li class="blog"><a>Wineshare</a></li>
            </ul>
          </div>
          <div class="page-title-heading">
            <h2 class="title"><a>WINESHARE</a></h2>
          </div>
        </div>
      </div>
    </div> <!-- /.page-title -->

  <div class="about-all">
  <!-- 사이트 소개 글  -->

    <section class="flat-about-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5">
            <img th:src="@{'/wineshare-img/aboutus.jpeg'}" alt="image">
          </div>
          <div class="col-lg-7 col-md-7">
            <div class="about-us-border">
              <h1 class="heading-about"><a href="#">Wineshare is... </a></h1>
              <p class="content-about">
                와인의 세계로의 초대

                Wineshare는 와인 애호가, 전문가, 그리고 와인에 대해 알고 싶어하는 모든 이들을 위한 플랫폼으로, 와인에 대한 정보를 쉽고 간편하게 제공하여 누구나 와인을 더욱 친숙하게 느낄 수 있도록 돕습니다. 전문가들은 사이트 내에서 와인 관련 정보를 추가하거나 수정할 수 있으며, 자신의 업장을 등록하여 홍보할 기회를 가집니다. 이를 통해 일반 사용자들은 보다 전문적이고 신뢰할 수 있는 정보를 받아볼 수 있고, 게시판 기능을 통해 전문가와 소비자 간의 자유로운 소통이 이루어져 질문과 답변을 통해 와인에 대한 깊이 있는 이해를 돕습니다. Wineshare와 함께 와인의 매력을 발견하고, 전문가의 조언을 통해 더 나은 선택을 해보세요!
              </p>
            </div>
          </div>
        </div> <!-- /row -->
      </div> <!-- /container -->
    </section> <!-- /flat-about-->

    <!--  목적 소개  -->
    <section class="flat-team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="title-section">
              <h1 class="our-product-main"><a href="#"> Our Purpose </a></h1>
              <div class="our-product-image">
                <img src="/image/homepage14.png" alt="image">
              </div>
            </div> <!-- /title-section -->
          </div>

          <div class="our-txt">
            <li>와인 정보의 접근성 제공  다양한 사용자들이 손쉽게 와인에 대한 정보에 접근할 수 있도록 하여, 와인에 대한 이해도를 높이고 친숙함을 느낄 수 있도록 돕습니다.</li>
            <li>와인 구매 지원 전문가의 추천과 사용자 리뷰를 통해 소비자들이 더 나은 와인 구매 결정을 내릴 수 있도록 돕고, 와인 선택의 폭을 넓힙니다.</li>
            <li>와인 커뮤니티 형성 와인에 대한 질문과 경험을 나눌 수 있는 커뮤니티를 형성하여, 사용자들이 서로의 지식을 공유하고 와인에 대한 사랑을 더욱 깊게 할 수 있는 환경을 제공합니다.</li>
          </div>
        </div>
      </div>
    </section>


    <!-- 아로마 휠  -->
    <section class="flat-our-history">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="title-section">
              <h1 class="our-product-main"><a href="#"> Aroma Wheel </a></h1>
              <div class="our-product-image">
                <img src="/image/homepage14.png" alt="image">
              </div>
            </div> <!-- /title-section -->

            <div class="wheel-about">
              <div class="aroma-img">
                <img src="/wineshare-img/aroma.png" alt="image" class="aroma-img">
              </div>

              <div class="aroma-txt">
                <p>와인 아로마 휠은 와인의 다양한 향과 맛을 시각적으로 표현한 도구로, 와인 테이스팅에서 매우 유용하게 사용됩니다. 이 휠은 와인의 향을 분류하고 이해하는 데 도움을 주며, 와인을 평가할 때 향을 체계적으로 분석할 수 있게 해줍니다.</p>
                <br>
                <p><h4 style="font-weight:bold;">와인 아로마 휠의 구성</h4></p>
                <br>
                <p>
                  <ol>
                <li>1. 중심부 : 일반적으로 기본적인 향이 위치합니다. 여기에는 과일, 꽃, 허브, 향신료, 나무 등과 같은 주요 카테고리가 포함됩니다.</li>
                <li>2. 외부 원 : 중심부에서 파생된 더 구체적인 향들이 위치합니다. 각 카테고리에서 더 세분화된 향을 보여줍니다.</li>
                <li>3. 색상과 디자인 : 아로마 휠은 보통 원형으로 디자인되어 있으며, 각 향이 시각적으로 잘 구분될 수 있도록 색상과 형태를 사용합니다.</li>
              </ol>
                </p>
                <br>
                <p>와인 아로마 휠은 와인의 다양한 향을 이해하고 평가하는 데 도움을 주는 시각적 도구입니다. 기본적인 향 카테고리와 세분화된 향 목록을 통해 테이스팅 경험을 풍부하게 만들어 주며, 와인을 보다 전문적으로 감상할 수 있게 해줍니다. 이를 통해 와인 감별 능력을 키우고, 와인에 대한 깊은 이해를 도모할 수 있습니다.</p>
              </div>
            </div>

          </div>

        </div> <!-- /row -->
      </div> <!-- /container -->
    </section> <!-- /flat-our-history -->


    </div>
</div>
</html>
