<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

 <th:block layout:fragment="css">
  <!-- markeing 페이지 css -->
  <link rel="stylesheet" type="text/css" th:href="@{/stylesheets/marketing.css}">
 </th:block>

 <th:block layout:fragment="script">
   <script th:inline="javascript">

   </script>
 </th:block>


<div layout:fragment="content">
<!-- 상단에 이미지랑 이미지안에 텍스트넣기 -->
<div style="position: relative; width: 100vw; height: 30vh;">
  <img th:src="@{main/image/Ah.jpg}" alt="" style="width:100%; height:100%; object-fit: cover;">
  <h1 style="position: absolute; bottom: 0; left: 0; margin: 10px; color: white; font-size: 2rem;">프로모션</h1>
</div>
<!-- 검색기능 서치바 -->
<div class="search-container">
  <form action="/search" method="GET">
    <input type="text" placeholder="검색어를 입력하세요..." name="search">
    <button type="submit">검색</button>
  </form>
</div>
<!-- 카드 반복되는곳 -->

<div class="card-container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게 설명 ~~~~~~</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게설명~~~~~.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게설명.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게설명.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게설명.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게설명~~.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모션 내용</h5>
          <p class="card-text">가게설명~~.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a href=""><img src="..." class="img-fluid rounded-start" alt="..."></a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">프로모셔내용</h5>
          <p class="card-text">가게설명~~~~.</p>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- 셀렉트바 js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<!-- 카드 반복 js  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</div>

</html>