<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<!-- css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" type="text/css" th:href="@{/wineshare-css/marketing-list.css}">
    <style>
        .disabled{
            pointer-events: none;
            opacity: 0.1;
        }
        .page-active{
            background-color: #c02323 !important;
        }
    </style>
</th:block>


<th:block layout:fragment="script">
    <script th:inline="javascript">
      $(document).ready(function () {

          $('#searchIcon').on('click', function (e){
              e.preventDefault();
              page(0);
          });

          const marketCategory = $('#marketCategory').data('market-category');
          // const token = $("meta[name='_csrf']").attr("content");
          // const header = $("meta[name='_csrf_header']").attr("content");


          // 등록 버튼 클릭 시 등록 페이지로 이동
          $('#regBtn').on('click', function (e) {
              e.preventDefault();
              if (marketCategory) {
                  window.location.href = `/marketings/${marketCategory.toLowerCase()}/new`;
              } else {
                  alert('게시판 상태를 확인할 수 없습니다.');
              }
          });


      }); //ready

      // 페이지
      function page(page){
          const searchType = $('#searchType').val();
          const searchQuery = $('#searchQuery').val();
          const marketCategory = $('#marketCategory').data('market-category');

          // url
          location.href="/marketings/" + marketCategory + "/list/" + page
              + "?searchType=" + searchType + "&searchQuery=" + searchQuery;
      }
    </script>
</th:block>


<div layout:fragment="content">

    <div id="loading-overlay">
        <div class="loader"></div>
    </div> <!-- /.loading-overlay -->
    <!-- 각 페이지 상단에 경로 나타내주는 부분.. -->
    <div class="page-title parallax parallax1">
        <div class="container">
            <div class="page-title-content d-sm-flex justify-content-sm-between align-items-center text-center">
                <div class="breadcrumbs">
                    <ul>
                        <li><a>Home</a></li>
                        <li class="blog"><a>Places</a></li>
                    </ul>
                </div>
                <div class="page-title-heading">
                    <h2 class="title" th:text="${marketCategory}"></h2>
                </div>
            </div>
        </div>
    </div> <!-- /.page-title -->



    <div class="marketlist-container">
        <!-- 검색 & 정렬 기능 -->
        <div class="search-sort" th:object="${marketingSearchDTO}">
            <form th:action="@{'/marketings/'+ ${marketCategory} + '/list'}" role="form" method="get">

<!--            <div class="marketing-sort">-->
<!--                <h5>Sort by</h5>-->
<!--                <select th:field="*{sortOrder}" style="height: 25px; font-size:12px;">-->
<!--                    <option value="">기본순</option>-->
<!--                    <option value="최신순">최신순</option>-->
<!--                </select>-->
<!--            </div>-->

                <div class="data-all">
                    <div class="data-type">
                        <input type="text" th:field="*{searchType}" value="T" placeholder="제목" readonly>
                        <input type="hidden" id="marketCategory" th:data-market-category="${marketCategory}">
                    </div>

                    <div class="data-search">
                        <input type="text" class="form-control" th:field="*{searchQuery}" placeholder="Search...">
                        <button type="submit" id="searchIcon" class="data-btn" style="background-color: #e5e5e5;" >
                            enter
                        </button>
                    </div>
                </div>

             <div th:if="${marketCategory} != null">
            <button type="button" id="regBtn" class="market-reg" style="background-color: #c02323; color:#FFFFFF" sec:authorize="hasRole('EXPERT') or hasRole('ADMIN')">등록하기</button>
             </div>

            </form>
        </div>


        <div class="main-blog-grid">
            <div class="mark-grin">
                <div class="article-container">

                    <article class="post marketing_list_wrap" th:each="marketingDTO : ${marketingDTOs}">


                        <div th:if="${!marketingDTOs.isEmpty()}" class="featured-post">
                            <img class="market-img" th:src="${marketingDTO.marketImgUrl}" th:alt="${marketingDTO.marketOriImgName}">
                        </div>


                        <div class="market-post">

                            <div th:if="${eventOrNot != null}">
                                <div class="market-pro-post-content" th:text="${marketingDTO.eventContent}">
                                    <span>행사 내용</span>
                                </div>
                            </div>

                            <div class="market-post-title" th:text="${marketingDTO.marketingTitle}">
                                <h2>업장 이름</h2>
                            </div>

                            <div class="market-post-name" th:text="${marketingDTO.ownerNickname}">
                                <span>비워둘까?</span>
                            </div>

                            <div class="market-post-content">
                                <pre th:text="${marketingDTO.marketingContent}"></pre>
                            </div>



                            <div class="post-submit">
                                <a th:href="${marketingDTO.marketLink}" target="_blank" style="color:#c02323;"> READ MORE <i class="fa fa-long-arrow-right"
                                                                                   aria-hidden="true"></i></a>
                            </div>
                        </div>

                    </article>
                </div>



                      <!-- 페이지네이션 -->
                      <div class="blog-pagination mar-page"
                           th:with="start=${(marketings.number / maxPage) * maxPage + 1},
                                        end=${(marketings.totalPages == 0) ?
                                        1 : (start + (maxPage - 1) < marketings.totalPages ?
                                        start + (maxPage - 1) : marketings.totalPages)}">
                        <ul class="flat-pagination">
                          <li class="prev hvr-shutter-out-horizontal" th:classappend="${marketings.first} ? 'disabled'">
                            <a th:onclick="'javascript:page(' + ${marketings.number -1} + ')'" aria-label="Previous">
                              <i class="fa fa-angle-left" aria-hidden="true"></i>
                            </a>
                          </li>
                          <li class="hvr-shutter-out-horizontal" th:each="page: ${#numbers.sequence(start, end)}">
                            <a th:onclick=" 'javascript:page(' + ${page - 1} + ')'" th:inline="text">
                              [[${page}]]
                            </a>
                          </li>
                          <li class="next hvr-shutter-out-horizontal" th:classappend="${marketings.last} ? 'disabled'">
                            <a th:onclick="'javascript:page(' + ${marketings.number + 1} + ')'" aria-label="Next">
                              <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </a>
                          </li>
                        </ul>
                      </div>

                    </div> <!-- /main-blog-grid -->


            </div>
        </div>

    </div>


</html>