<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- register css Fiels -->
<th:block layout:fragment="css">
    <style>
        th, td{
           border: 1px solid #e5e5e5;
           padding:10px;
        }
        th{
            text-align:center;
            background-color: #e5e5e5;
            color: #000000;
        }
        .data-table{
            width:80%;
            margin: 0 auto;
            margin-top:3%;
            margin-bottom:5%;
            border: 1px solid #e5e5e5;
        }

        .data-title{
            margin-top:3%;
            margin-left:10%;
            }

        input[type="text"]{
            width:10%;
            height:30px;
            }

        .data-all{
            width:80%;
            margin: 0 auto;
        }
        .data-search{
            display:flex;
            justify-content: flex-end;
        }

        .data-btn{
            font-size:10px;
            color:#FFFFFF;
            border: 1px solid #c02323;
            border-radius: 5px;

        }
        .disabled {
            pointer-events: none; /* 클릭 이벤트 방지 */
            opacity: 0.1; /* 비활성화된 효과 */
        }

        .page-active {
            background-color: #c02323 !important;
        }
    </style>
</th:block>



<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function () {
            let category;
            // 각 카테고리에서 데이터 가져오기
            if ($('#getCategoryWines').length) {
                category = $('#getCategoryWines').data('category');
            } else if ($('#getCategoryBoards').length) {
                category = $('#getCategoryBoards').data('category');
            } else if ($('#getCategoryMembers').length) {
                category = $('#getCategoryMembers').data('category');
            } else if ($('#getCategoryMarketings').length) {
                category = $('#getCategoryMarketings').data('category');
            }
            console.log(category);
            read(category, 0);
        });


        // 보드 목록 가져오기
        function read(category, page) {
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");
            console.log(category);
            $.ajax({
                url: `/admins/ajax/${category}/list/${page}`,
                type: "GET",
                dataType: 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                cache: false,
                success: function (data) {
                    console.log(data.currentPage);
                    if (category === 'boards') {
                        renderList(data.boards, category);
                    } else if (category === 'wines') {
                        renderList(data.wines, category);
                    } else if (category === 'members') {
                        renderList(data.members, category);
                    } else if (category === 'marketings') {
                        renderList(data.marketings, category);
                    } else {
                        renderList('헤헤', '헤헤')
                    }

                    updatePagination(data.currentPage, data.totalPages, category);
                },
                error: function (xhr) {
                    console.error("Read Board Error ", xhr);
                    alert("게시판 리스트 불러오기 실패");
                }
            });
        }
        // 보드 내용 메소드
        function renderList(data, category) {
            const contentContainer = $('#contentContainer');
            // 비우기
            contentContainer.empty();
            // 테이블 변수 선언
            let table;
            // 카테고리에 따라 내용 변화 조건문
            if (category === 'boards') {
                table = `
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>카테고리</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${data.content.map(board => `
                            <tr>
                                <td>${board.id}</td>
                                <td>${board.boardStatus}</td>
                                <td>${board.boardTitle}</td>
                                <td>${board.writerNickname}</td>
                                <td>${board.regTime}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`;
            } else if (category === 'wines') {
                table = `
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>종류</th>
                            <th>이름</th>
                            <th>가격</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${data.content.map(wine => `
                            <tr>
                                <td>${wine.id}</td>
                                <td>${wine.wineType}</td>
                                <td>${wine.wineName}</td>
                                <td>${wine.price}</td>
                                <td>${wine.memberNickname}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`;
            } else if (category === 'marketings') {
                table = `
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>카테고리</th>
                            <th>이름</th>
                            <th>행사</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${data.content.map(marketing => `
                            <tr>
                                <td>${marketing.id}</td>
                                <td>${marketing.marketCategory}</td>
                                <td>${marketing.marketingTitle}</td>
                                <td>${marketing.eventOrNot}</td>
                                <td>${marketing.ownerNickname}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`;
            } else if (category === 'members') {
                table = `
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>등급</th>
                            <th>메일</th>
                            <th>이름</th>
                            <th>상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${data.content.map(member => `
                            <tr>
                                <td>${member.id}</td>
                                <td>${member.memberType}</td>
                                <td>${member.email}</td>
                                <td>${member.name}</td>
                                <td>${member.withdrawStatus}</td>
                            </tr>
                        `).join('')}
                    </tbody>
                </table>`;
            } else {
                table = `
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>이건</th>
                            <th>잘못된</th>
                            <th>접근</th>
                            <th>이전으로</th>
                            <th>돌아가</th>
                        </tr>
                    </thead>
                </table>`;
            }
            contentContainer.append(table); // 테이블 추가
        }
        // 업데이트페이지 메소드, 공통 - 커런트, 토탈은 각 ajax메소드의 결과값에서 받아오고
        // ajax 메소드에서 업데이트페이지 호출할때 category에 해당 리스트 호출하는 메소드이름 넣어주면 된다.
        function updatePagination(currentPage, totalPages, category) {
            const paginationContainer = $('.flat-pagination');
            paginationContainer.empty(); // 기존 페이지네이션 비우기

            // 이전 버튼
            const prevDisabled = currentPage === 0 ? 'disabled' : '';
            paginationContainer.append(`
                <li class="prev hvr-shutter-out-horizontal ${prevDisabled}">
                    <a ${prevDisabled ? '' : 'onclick="read(\'' + category + '\', ' + (currentPage - 1) + ')"'} aria-label="Previous">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </a>
                </li>
            `);

            // maxPage 정의
            const maxPage = 5;

            // 페이지 번호 계산
            let start = Math.floor(currentPage / maxPage) * maxPage; // 현재 페이지 기준으로 시작
            let end = Math.min(start + maxPage, totalPages); // 최대 maxPage 개수 표시
            // 페이지 번호 추가
            for (let i = start; i < end; i++) {
                const activeClass = i === currentPage ? 'page-active' : '';
                paginationContainer.append(`
                    <li class="hvr-shutter-out-horizontal ${activeClass}">
                        <a onclick="read('${category}', ${i})" aria-label="Page">${i+1}</a>
                    </li>
                `);
            }
            // 다음 버튼
            const nextDisabled = currentPage === totalPages - 1 ? 'disabled' : '';
            paginationContainer.append(`
                <li class="next hvr-shutter-out-horizontal ${nextDisabled}">
                    <a ${nextDisabled ? '' : 'onclick="read(\'' + category + '\', ' + (currentPage + 1) + ')"'}  aria-label="Next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                </li>
            `);
        }

    </script>
</th:block>

<div layout:fragment="content">
    <div class="data-title">
    <h1>관리자 데이터 목록</h1>
    </div>
    <span th:if="${categoryWines != null}" id="getCategoryWines" th:data-category="${categoryWines}"></span>
    <span th:if="${categoryBoards != null}" id="getCategoryBoards" th:data-category="${categoryBoards}"></span>
    <span th:if="${categoryMembers != null}" id="getCategoryMembers" th:data-category="${categoryMembers}"></span>
    <span th:if="${categoryMarketings != null}" id="getCategoryMarketings" th:data-category="${categoryMarketings}"></span>
    <!--  타임리프 적용안된 깡통 뷰...  -->
    <form>
        <div class="data-all">
        <div class="data-search">
            <input type="text" class="form-control" placeholder="Search...">
            <button type="submit" id="searchIcon" class="data-btn" style="background-color: #c02323; height: 30px;" >
                enter
            </button>
        </div>
        </div>

        <div id="contentContainer">

        </div>
        <div class="blog-pagination text-center">
            <ul class="flat-pagination">

            </ul>
        </div>

    </form>
</div>
</html>